{% extends 'admin:admin/change_form.html' %}

{% load i18n %}
{% block content %}
{{ block.super }}
<script type="text/javascript">//<![CDATA[
    (function($){
    	$('<li><input type="submit" value="{% trans 'Save and view next' %}" name="_viewnext" /></li>')
        .prependTo('footer.grp-submit-row ul');
    })(django.jQuery);
//]]></script>
{% endblock %}