<script src="//cdnjs.cloudflare.com/ajax/libs/floatthead/1.2.8/jquery.floatThead.min.js"></script>

<style>
#id_similars {display: none;}
table.similars tr.yes {background-color: #BEDAFF;}
table.similars tr.no {background-color: #FFBEBE;}
table.similars thead {background-color: #FFFFCC;}
</style>

<table class="similars">
{% for item in items %}
{% if forloop.counter == 1 %}<thead>{%endif%}
<tr>
	<td>{{ forloop.counter }}</td>
	{% if forloop.counter == 1 %}<td></td>{%else%}<td>d={{ item.diff }}</td>{%endif%}
	<td>
		{% if forloop.counter > 1 %}
		<input id="id_similars_{{ ind }}_y" name="{{ name }}" class="yes" type="checkbox" value="{{ item.id }}_y">да<br>
		<input id="id_similars_{{ ind }}_n" name="{{ name }}" class="no" type="checkbox" value="{{ item.id }}_n">нет
		{% endif %}
	</td>
	<td style="text-align:center;vertical-align:middle;">
		<img src="{{ item.image }}" style="max-width:100px; max-height: 100px;">
	</td>
	<td><a target="_blank" href="{{ item.url }}">{{ item.name }}</a></td>
	<td>{{ item.brand }}</td>
	<td>{{ item.shop }}</td>
	<td>{{ item.packing }}</td>
	<td>{{ item.price }}</td>
</tr>
{% if forloop.counter == 1 %}</thead>{%endif%}
{% endfor %}
</table>

<script>
$(document).ready(function() {
	// Таблица схожих
	var tbl = $('table.similars');
	/*tbl.find('tbody>tr').click(function() {
		if (!$(this).find('input.yes').prop('checked')) {
			$(this).find('input.no').prop('checked', false);
			$(this).find('input.yes').prop('checked', true);
		}
		else if (!$(this).find('input.no').prop('checked') && $(this).find('input.yes').prop('checked')) {
			$(this).find('input.yes').prop('checked', false);
			$(this).find('input.no').prop('checked', true);
		} 
		else {
			$(this).find('input.no').prop('checked', false);
			$(this).find('input.yes').prop('checked', false);
		}
	});*/
	tbl.find('tbody tr input').click(function() {
		var y = $(this).closest('td').find('input.yes');
		var n = $(this).closest('td').find('input.no');
		var tr = $(this).closest('tr');
		if ($(this).hasClass('yes') && n.prop('checked')) {
			n.prop('checked', false)
			tr.removeClass('no');
		}
		else if ($(this).hasClass('no') && y.prop('checked')) {
			y.prop('checked', false)
			tr.removeClass('yes');
		}
			
		if ($(this).is(":checked"))
			tr.addClass($(this).attr('class'));
		else
			tr.removeClass($(this).attr('class'));
	});
	tbl.find('thead td').each(function(ind,obj) {
		var w = $(obj).width();
		$(obj).width(w);
		tbl.find('tbody tr:first-child td').eq(ind).width(w);
	});
	tbl.floatThead({
		useAbsolutePositioning: false
	}); 
});
</script>

