{% extends 'admin:admin/base_site.html' %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
    {{ form }}
    
    <ul>
    {% for b in brands %}
    	<li><a href="#" onclick="grp.jQuery('#id_new_name').val(grp.jQuery(this).html())">{{ b.name }}</a></li>
    {% endfor %}
    </ul>
    <input type="hidden" name="action" value="merge_brands" />
    <input type="submit" name="apply" value="Сохранить" />
</form>
{% endblock %}