{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ topic.title }}</h2>
        <h4>создать тему</h4>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        {% load widget_tweaks %}
        <!-- Form Comment -->
        <div class="respond well">
        <!-- Form title -->
         <div class="title"><h4>Создать тему</h4></div>
         <!-- Comment form -->
         <div class="form">
           <form class="form-horizontal" method="post">
             {% csrf_token %}
             <div class="form-group">
               <label class="control-label col-md-3">Заголовок</label>
               <div class="col-md-6">
                {{ form.title|attr:"class:form-control" }}
                <p class="help-block">{{ form.title.errors }}</p>
               </div>
             </div>
             <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
               <button type="submit" class="btn btn-default">Создать</button>
               <button type="reset" class="btn btn-default">Сбросить</button>
              </div>
             </div>
           </form>
         </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}