{% if request.user.is_superuser and request.session.show_admin_panel %}
<span class="alert-danger admin-panel" id="message-admin-{{ m.id }}">
	<i class="fa fa-star"></i>
	<a class="btn btn-xs btn-default" href="javascript:if (confirm('Точно удалить? Удалиться вся ветка ответных сообщений!')) window.location.href='{% url 'admin_message_delete' m.id %}';" title="удалить">
	 	<i class="fa fa-close"></i>
	</a>
</span>
{% endif %}