{% load blog_tags %}
{% load staticfiles %}
{% load thumbnail %}

<a name="{{ m.id }}"></a>
{% user_profile m.user %}
<a class="pull-left" href="{% url 'user' m.user.id %}">
  <!-- Avatar -->
  {% thumbnail profile.avatar_image "60x60" crop="center" as im %}
      <img class="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}
</a>

<!-- Author -->
<div class="comment-author">
  <a href="{% url 'user' m.user.id %}">{{ m.user.username }}</a>
  {% if request.user.is_authenticated and m.user_id != request.user.id %}
  <span class="answer"> - <a href="javascript:reply({{ m.id }}, '{{ m.user.username }}');">ответить</a></span>
  {% endif %}
</div>

<!-- Comment date -->
<div class="cmeta">
  <a href="#{{ m.id }}">#{{ m.id }}</a>{% include 'forum/message_admin.html' %}<br>
  {{ m.created_at|my_naturaltime }}
  {% if m.reply_to %}
   ответил <a href="{% url 'user' m.reply_to.user.id %}">{{ m.reply_to.user.username }}</a> на #{{ m.reply_to.id }}
  {% endif %}
</div>

<!-- Para -->
<div class="clearfix"></div>
{% autoescape off %}
<div class="comment-content break-word">{{ m.content }}</div>
{% endautoescape %}