{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}{{ title }}{% endblock %}

{% block scripts %}

<!-- intro -->
{% if request.user.is_authenticated %}
{% user_profile request.user %}
<script type="text/javascript">
var tour = MyTour('forum');
tour.addSteps([
  {
    element: "table",
    content: "Прежде всего выберите раздел форума",
    placement: 'top',
  },
  {
    element: "table",
    onShow: function() {window.location = $('a.title:first').eq(0).attr('href')+'#tour';}
  },
])
function startTour() {
  tour.init();
  tour.restart()
}
introFunc('{{ profile.looked_intro_forum }}');
</script>
{% include 'blog/profile/modal_tour.html' with text='Хотите узнать - как получать баллы за общение на форуме?' %}
{% endif %}
<!-- intro -->

{% endblock %}

{% block content %}

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ title }}</h2>
        {% if description %}
        <h4>{{ description }}</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container forum">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        <table class="table table-bordered">
          <thead>
            <th>Топик</th>
            <th>Топики</th>
            <th>Темы</th>
            <th>Сообщения</th>
            <th>Последнее сообщение</th>
          </thead>
          {% for topic in topics %}
          <tr>
            <td>
            	<i class="fa fa-comment"></i> 
            	<a href="{% url 'forum_topic' topic.id topic.slug %}" class="title">{{ topic.title }}</a>
            </td>
            <td>{{ topic.topic_count }}</td>
            <td>{{ topic.thread_count }}</td>
            <td>{{ topic.message_count }}</td>
            <td>
            {% if topic.last_message %}
            {{ topic.last_message.user.username }}
            {{ topic.last_message.created_at|my_naturaltime }}
            {% else %}
            ---
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}