{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load staticfiles %}

{% block scripts %}
{{ form.media }}
<style>
.comment-author .answer {
visibility:hidden;
}
.comment-author:hover .answer {
visibility:visible;
}
.comment-content img {
cursor:pointer;
}
</style>
<script>
function reply(reply_to, username) {
  $('#id_reply_to').val(reply_to);
  $('#reply_message').show().find('input').val(username + ' Сообщение #'+reply_to);
  $('html, body').animate({
      scrollTop: $('#id_content_iframe').offset().top
  }, 1000);
}
function show_prev(obj, message_id, page) {
  $.ajax({
    url: "{% url 'ajax_prev_messages' %}",
    method: "GET",
    data: {
      message_id: message_id,
      page: page,
    },
  })
  .done(function( data ) {
    if (page == 1) {
      $(obj).parent().html(data);
    }
    else {
      $(obj).replaceWith(data);
    }
  });
}

$(document).ready(function(){
  if (window.location.hash == '#tour') {
    var tour = MyTour();
    tour.addSteps([
      {
        element: "#message_form",
        content: " Создавайте свои посты",
        placement: 'top',
      },
      {
        element: ".comment-author:first",
        content: "или отвечайте другим пользователям",
        placement: 'bottom',
        onShow: function() {$('.comment-author .answer').css('visibility', 'visible');},
      },
      {
        element: "#send_button",
        content: "Пишите качественные посты и получайте призовые баллы",
        placement: 'right',
      },
    ])
    tour.init();
    tour.start(true)
    tour.goTo(0)
  }
});
</script>
{% endblock %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}
<!-- Modal image -->
  <div class="modal fade" id="image_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Изображение</h4>
        </div>
      <div class="modal-body">
        <img id="img" src="" class="img-responsive img-thumbnail">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ thread.title }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        {% breadcrumbs_block %}

        {% if messages %}
          <!-- Comments block -->
          <a name="comments"></a>
          <div class="comments well">
           <!-- Comment title -->
              <ul class="comment-list">
                {% for message in messages %}
                <li class="comment">
                  {% include 'forum/message.html' with m=message %}
                </li>
                
                {% if message.last_replies %}
                <li class="comment reply">
                  {% include 'forum/messages.html' with message=message messages=message.last_replies %}
                </li>
                {% endif %}

                {% endfor %}
              </ul>
              {% include 'blog/pagination.html' with list=comments %}
          </div>
          {% include 'blog/pagination.html' with list=messages %}
        {% else %}
          Нет сообщений
        {% endif %}

        {% if form %}
        {% load widget_tweaks %}
        <!-- Form Comment -->
        <div class="respond well">
        <!-- Form title -->
         <div class="title"><h4>Оставьте сообщение</h4></div>
         <!-- Comment form -->
         <div class="form">
           <form class="form-horizontal" method="post" id="message_form">
              {% csrf_token %}
              {{ form.reply_to }}
              {% if form.reply_to.errors %}<div class="alert alert-danger">{{ form.reply_to.errors }}</div>{% endif %}
               <div class="form-group" id="reply_message" style="display:none">
                 <label class="control-label col-md-3">Ответить</label>
                 <div class="col-md-9">
                   <input type="text" class="form-control" disabled="disabled">
                 </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-md-3">Сообщение</label>
                 <div class="col-md-9">
                  {{ form.content }}
                  {% if form.content.errors %}<div class="alert alert-danger">{{ form.content.errors }}</div>{% endif %}
                 </div>
               </div>
               <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                 <button type="submit" class="btn btn-default" id="send_button">Отправить</button>
                 <button type="reset" class="btn btn-default">Сбросить</button>
                </div>
               </div>
           </form>
         </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  // увеличение изображений
  $('.comment-content img').on('click', function() {
    var sr=$(this).attr('src'); 
    $('#image_modal #img').attr('src',sr);
    $('#image_modal').modal('show');
  });
});
</script>
{% endblock %}