
{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}{{ topic.title }}{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
  if (window.location.hash == '#tour') {
    var tour = MyTour();
    tour.addSteps([
      {
        element: "table",
        content: " Вы можете писать в уже созданных темах",
        placement: 'top',
      },
      {
        element: "#create_button",
        content: "Или создать свою",
        placement: 'right',
      },
      {
        element: "table",
        onShow: function() {window.location = $('a.title').eq(0).attr('href')+'#tour';}
      },
    ])
    tour.init();
    tour.start(true);
    tour.goTo(0);
  }
});
</script>
{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ topic.title }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container forum">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        <table class="table table-bordered">
          <thead>
            <th>Тема</th>
            <th>Дата создания</th>
            <th>Сообщения</th>
            <th>Последнее сообщение</th>
          </thead>
          {% for thread in threads %}
          <tr>
            <td>
              <i class="fa fa-comment"></i> 
              <a href="{% url 'forum_thread' thread.id thread.slug %}" class="title">{{ thread.title }} </a>
            </td>
            <td>{{ thread.created_at }}</td>
            <td>{{ thread.message_count }}</td>
            <td>
            {% if thread.last_message %}
            {{ thread.last_message.user.username }}
            {{ thread.last_message.created_at|my_naturaltime }}
            {% else %}
            ---
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
        
        {% include 'blog/pagination.html' with list=threads%}

        {% if request.user.is_authenticated %}
        <a class="btn btn-success" id="create_button" href="{% url 'forum_create_thread' topic.id %}">Создать тему</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}