{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}Пользователь {{ user.username }}{% endblock %}

{% block content %}
<div class="content blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% breadcrumbs_block %}
      </div>
      
      
      <div class="col-md-8">
        <ul class="nav nav-tabs">
          <li>
            <a href="{% url 'user' user.id %}">Профиль</a>
          </li>
          <li class="active">
            <a>Посты ({{ profile.count_posts_pub }})</a>
          </li>
          {% if request.user.is_superuser %}
          <li class="alert-danger">
            <a href="{% url 'admin_user_scores' user.id %}">Баллы ({{ profile.scores }})</a>
          </li>
          {% endif %}
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">
            {% include 'blog/post/list.html' with posts=posts %}
            {% include 'blog/pagination.html' with list=posts %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}