{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}Пользователь {{ user.username }}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% breadcrumbs_block %}
      </div>

      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active">
            <a>Профиль</a>
          </li>
          <li>
            <a href="{% url 'user_posts' user.id %}">Посты ({{ profile.count_posts_pub }})</a>
          </li>
          {% if request.user.is_superuser %}
          <li class="alert-danger">
            <a href="{% url 'admin_user_scores' user.id %}">Баллы ({{ profile.scores }})</a>
          </li>
          {% endif %}
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">
          
            <div class="col-md-2">
              {% thumbnail profile.avatar_image "80x80" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
            </div>
            <div class="col-md-10">
              <h4 class="title">{{ user.username }}</h4>
              <table class="table">
                <tr>
                  <td>Зарегистрирован</td><td>{{ user.date_joined }}</td>
                </tr>
                <tr>
                  <td>Баллы</td><td>{{ profile.scores }}</td>
                </tr>
                {% if profile.about %}
                <tr>
                  <td>О себе</td><td>{{ profile.about }}</td>
                </tr>
                {% endif %}
              </table>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}