{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}Рейтинг пользователей{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Пользователи</h2>
        <h4>Рейтинг пользователей</h4>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        <ul class="nav nav-tabs">
          <li>
            <a href="{% url 'users_rating_scores' %}" >Количество баллов</a>
          </li>
          <li>
            <a href="{% url 'users_rating_pubs' %}" >Количество постов</a>
          </li>
          <li class="active">
            <a href="{% url 'users_rating_posts' %}" >Популярные посты</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">

            <table class="table table-stripped">
              <thead>
                <th>№</th>
                <th>Пользователь</th>
                <th>Пост</th>
                <th>Количество просмотров</th>
              </thead>
              {% for post in posts %}
              {% user_profile post.user %}
              <tr>
                <td>{{ forloop.counter0|add:posts.start_index }}</td>
                <td>
                  {% thumbnail profile.avatar_image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                  <a href="{% url 'user' post.user.id %}">{{ post.user.username }}</a>
                </td>
                <td><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></td>
                <td>{{ post.view_count }}</td>
              </tr>
              {% endfor %}
            </table>

            {% include 'blog/pagination.html' with list=posts %}

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}