{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}Рейтинг пользователей{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Пользователи</h2>
        <h4>Рейтинг пользователей</h4>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        <ul class="nav nav-tabs">
          <li>
            <a href="{% url 'users_rating_scores' %}" >Количество баллов</a>
          </li>
          <li  class="active">
            <a href="{% url 'users_rating_pubs' %}" >Количество постов</a>
          </li>
          <li>
            <a href="{% url 'users_rating_posts' %}" >Популярные посты</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">

            <table class="table table-stripped">
              <thead>
                <th>№</th>
                <th>Пользователь</th>
                <th>Количество постов</th>
              </thead>
              {% for profile in profiles %}
              <tr>
                <td>{{ forloop.counter0|add:profiles.start_index }}</td>
                <td>
                  {% thumbnail profile.avatar_image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                  <a href="{% url 'user' profile.user.id %}">{{ profile.user.username }}</a>
                </td>
                <td>{{ profile.pub_count }}</td>
              </tr>
              {% endfor %}
            </table>

            {% include 'blog/pagination.html' with list=profiles %}

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}