{% comment %}
<div class="yes" {% if not request.session.shopping_list or product.id|slugify not in request.session.shopping_list %}style="display:none;"{% endif %}>
  <i class="fa fa-check-square-o"></i>
  <label onclick="shopping_list_toggle({{product.id}}, this);">Убрать из покупок</label>
</div>
<div class="no" {% if product.id|slugify in request.session.shopping_list %}style="display:none;"{% endif %}>
  <i class="fa fa-square-o"></i>
  <label onclick="shopping_list_toggle({{product.id}}, this);">В список покупок</label>
</div>
{% endcomment %}