{% load humanize %}
<div class="col-lg-4 col-md-6 col-sm-12 product-block{#{% if product.has_offers %} offer-color{% endif%}#}">
  <div class="img">
    <a href="{% url 'product' product.id product.name|slugify %}{% if hash %}#{{ hash }}{% endif %}">
      <img src="{{ product.image }}">
    </a>
  </div>
  <div class="name" title="{{ product.name }} {{ product.packing }}">
    <a href="{% url 'product' product.id product.name|slugify %}{% if hash %}#{{ hash }}{% endif %}">{{ product.name }} {{ product.packing }}</a>
  </div>
  {% if brand == 0 %}{% else %}
  <div class="brand">
    <a href="{% url 'brand' product.brand.id product.brand.slug %}">{{ product.brand.name }}</a>
  </div>
  {% endif %}
  {% if category == 0 %}{% else %}
  <div class="category">
    <a href="{{ product.category.url }}">{{ product.category.name }}</a>
  </div>
  {% endif %}
  <div class="price pull-right">
    
    {% if product.has_offers %}
      <span style="color:red"><i class="fa fa-thumbs-up"></i> выгодно</span>
    {% else %}
      {% if product.profit_price > 0 %}
      <span class="profit"><i class="fa fa-minus"></i> {{ product.profit_price|intcomma }} <i class="fa fa-rub"></i></span>
      {% endif %}
    {% endif %}
    
    {% if product.has_offers %}
      <a class="btn btn-success btn-product-item" href="{% url 'product' product.id product.name|slugify %}{% if hash %}#{{ hash }}{% endif %}">
        Купить за {{ product.min_price|intcomma }} <i class="fa fa-rub"></i>
      </a>
    {% else %}
      <a class="btn btn-default btn-product-item" href="{% url 'product' product.id product.name|slugify %}{% if hash %}#{{ hash }}{% endif %}">
      Цены от {{ product.min_price|intcomma }} <i class="fa fa-rub"></i>
      </a>
    {% endif %}
    

  </div>
</div>