{% load humanize %}
{% load staticfiles %}

<script src="{% static 'js/stay-on-top.js' %}"></script>
<script src="{% static 'js/shopping_list.js' %}"></script>
<script src="{% static 'js/basket.js' %}"></script>
{% include 'main/store/one_click_form.html' %}

<!-- SIDEBAR PRODUCT CARD -->
<div id="product-card" class="col-lg-4 col-md-5 col-sm-12 clearfix well stay-on-top">
  <h2>{{ product.name }}<div>{{ product.packing }}</div></h2>
  
  <!-- IMAGE -->
  <div class="product-image col-md-5 col-sm-3 col-xs-4">
    <img src="{{ product.image }}" class="product_preview-image" alt="">
  </div>

  <!-- BUY -->
  <div class="product-buy col-md-7 col-sm-5 col-xs-8">
    {% include 'main/rating.html' with rating=product.rating large=1 %}
    
    {% if product.avg_price %}
      <span>Средняя цена</span>
      <span class="product-preview-price">
        <strong>{{ product.avg_price|intcomma }} <i class="fa fa-rub"></i></strong>
      </span>
      <span class="grey">
        от <span>{{ product.min_price|intcomma }}</span> до <span>{{ product.max_price|intcomma }} </span><i class="fa fa-rub"></i>
      </span>
    {% else %}
      <span class="product-preview-price">
        <strong>нет в наличии</strong>
      </span>
    {% endif %}

    <span class="product-preview-brand">
      <a href="{% url 'brand' product.brand.id product.brand.slug %}">
        {% if product.brand.image %}
        <img src="img/brand.png" alt="">
        {% else %}
        {{ product.brand.name }}
        {% endif %}
      </a>
    </span>
  
  </div>
  
  {% if offers %}
  <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
    <table class="table">
    {% for offer in offers %}
    <tr>
      <td width="150px">{{ offer.name }}</td>
      <td>
        <span style="color:red">
          <i class="fa fa-thumbs-up"></i>
          {{ offer.real_price|intcomma }} <i class="fa fa-rub"></i>
        </span> 
      </td>
      <td>
        {% include 'main/store/add_basket_button.html' with offer=offer %}
      </td>
    </tr>
    {% endfor%}
    </table>
  </div>
  {% endif %}

  {% include 'main/share_buttons.html' %}

  <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
    <div class="in_list">
      {% include 'main/product/add_shopping_list.html' %}
    </div>
  </div>

</div>