{% extends "main/base.html" %}
{% load staticfiles %}

{% block description %}описание выбрать {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }} купить каталог скидка низкая цена сравнение цен{% endblock %}

{% block keywords %}описание выбрать {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }} купить каталог скидка низкая цена сравнение цен{% endblock %}

{% block title %}Описание {{ product.brand.name }} {{ product.name }} {{ product.packing }}{% endblock %}

{% block content %}

{% include 'main/product/card.html' %}

<div class="col-lg-8 col-md-7 col-sm-12">
  
  {% include 'main/product/tabs.html' with tab='description' %}

  <!-- TAB DESCRIPTION -->
  <div class="tab-content">
    {% autoescape off %}
    {{ product.description }}
    {% endautoescape %}
  </div>

  {% if related_products %}
  <div class="hidden-xs">
  <h3>Похожие товары</h3>
  <div class="col-lg-12" style="padding-bottom:10px;">
    {% for p in related_products %}
      {% include 'main/product/block.html' with product=p category=0 %}
    {% endfor %}
  </div>
  </div>
  {% endif %}
  
</div>
{% endblock %}