{% extends "main/base.html" %}
{% load staticfiles %}

{% block description %}состав выбрать {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }} купить каталог скидка низкая цена сравнение цен{% endblock %}

{% block keywords %}состав выбрать {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }} купить каталог скидка низкая цена сравнение цен{% endblock %}

{% block title %}Состав {{ product.brand.name }} {{ product.name }} {{ product.packing }}{% endblock %}

{% block scripts %}
<script src="{% static 'js/rating-bull.js' %}"></script>
<style>
#bgCon {
  //width: 350px;
}
#bgCon div.bd {
background-color: #F4F3F2;
width: 100%;
}
div.bd {
background-color: #F4F3F2;
width: 100%;
}
#bgCon table.outer_label {
padding: 3px;
margin: 0;
width: 100%;
border: 1px solid #000;
background-color: #FFF;
color: #000;
}
#bgCon #facts_outer_cell {
padding: 4px;
margin: 0;
border: 1px solid #000;
}
#bgCon table.facts_label {
padding: 4px;
margin: 0;
border-collapse: collapse;
width: 100%;
color: #000;
}
#bgCon tr.facts_label {
padding: 1px 5px;
border-bottom: 1px solid black
}
#bgCon .facts_label td {
vertical-align: top;
}
#bgCon .label_flavor {
font: 700 16px Arial,Helvetica,sans-serif;
text-align: right;
}
#bgCon .label_size {
font: 700 16px Arial,Helvetica,sans-serif;
text-align: left;
}
#bgCon .seq_span {
padding: 0;
}
</style>
{% endblock %}

{% block content %}

{% include 'main/product/card.html' %}

<div class="col-lg-8 col-md-7 col-sm-12">

  {% include 'main/product/tabs.html' with tab='ingredients' %}

  <div id="bgCon">
  {% autoescape off %}
  {{ product.ingredients }}
  {% endautoescape %}
  </div>

</div>
{% endblock %}