{% load humanize %}
<!-- PRODUCT ITEM -->
<div class="product-item col-md-12 nopadding clearfix">
  <a name="{{ item.id }}">
  <!-- IMAGE -->
  <div class="product-image col-sm-3 col-sm-offset-0 col-xs-12">
    <a href="{% url 'product_item_jump' item.id %}" target="_blank">
      <img src="{{ item.image }}" class="product_preview-image" alt="{{ item.name }}" title="{{ item.name }}">
    </a>
  </div>
  
  <!-- DESCRIPTION -->
  <div class="product-description col-sm-6 col-xs-8">
    <div>
      <a href="{% url 'product_item_jump' item.id %}" target="_blank" class="product-preview-name">{{ item.name }}</a>
    </div>

  </div>

  <!-- BUY SECTION -->
  <div class="product-buy col-sm-3 col-xs-4">
    <span class="product-preview-price">{{ item.price|intcomma }} <i class="fa fa-rub"></i></span>
    <span>
      {% if item.available == True %}
      <i class="fa fa-check"></i> в наличии
      {% elif item.available == None %}
      <i class="fa fa-question"></i> неизвестно
      {% else %}
      <i class="fa fa-minus"></i> отсутствует
      {% endif %}
    </span>
  </div>
  
  <div class="comments-and-checklist-products-absolute">
    <div class="comments-and-checklist-products product">
      
      {% if item.shop.contact_info %}
        <a data-toggle="popover" title="{{ item.shop.name }}" data-html="true" style="cursor:pointer;" data-content="
          {{ item.shop.contact_info }}<br>
          <a class='btn btn-default' href='{% url 'shop' item.shop.id item.shop.slug %}'>Страница магазина</a>
        ">
          {{ item.shop.name }}
        </a>
      {% else %}
        <a href="{% url 'shop' item.shop.id item.shop.slug %}">{{ item.shop.name }}</a>
      {% endif %}

      <span class="hidden-xs">
        <i class="fa fa-comment-o"></i>
        <a href="{% url 'shop_reviews' item.shop.id item.shop.slug %}">{{ item.shop.review_count }}</a>
      </span>
    </div>

    {% include 'main/rating.html' with rating=item.shop.rating %}

  </div>

  <a class="btn btn-default btn-product-item" href="{% url 'product_item_jump' item.id %}" target="_blank">В магазин</a>
</div>