{% load humanize %}
<!-- PRODUCT OFFER -->
<div>
<a name="offer">
<div class="product-item col-md-12 nopadding clearfix offer-color">
  <!-- IMAGE -->
  <div class="product-image col-sm-3 col-sm-offset-0 col-xs-12">
    <img src="{{ offer.image }}" class="product_preview-image" alt="{{ product.name }}" title="{{ product.name }}">
  </div>
  
  <!-- DESCRIPTION -->
  <div class="product-description col-sm-6 col-xs-8">
    <div>
      <a class="product-preview-name">{{ product.name }}</a><br>
      <b>{{ offer.name }}</b>
    </div>

  </div>

  <!-- BUY SECTION -->
  <div class="product-buy col-sm-3 col-xs-4">
    <span class="product-preview-price">{{ offer.real_price|intcomma }} <i class="fa fa-rub"></i></span>
    <span style="color:red"><i class="fa fa-thumbs-up"></i> лучшая цена</span>
    <span>
      <i class="fa fa-check"></i> в наличии
    </span>
  </div>
  
  <div class="comments-and-checklist-products-absolute">
    <div class="comments-and-checklist-products product">
      <a href="{% url 'store' %}">fuel4bull.ru</a>
    </div>

    {% include 'main/rating.html' with rating=5 %}

  </div>

  <div class="form-inline" style="position: absolute;bottom: 15px; right: 15px;">
  {% include 'main/store/add_basket_button.html' %}
  </div>

</div>
</div>