{% load humanize %}
<!-- PRODUCT ITEM -->
<div class="product-item col-md-12 nopadding clearfix{% if product.has_offers %} offer-color{% endif%}">
  <!-- IMAGE -->
  <div class="product-image col-xs-12 col-sm-3 col-sm-offset-0">
    <a href="{% url 'product' product.id product.slug %}">
      <img src="{% if product.image %}{{ product.image }}{% else %}{% endif %}" class="product_preview-image" alt="{{ product.name }}" title="{{ product.name }}">
    </a>
  </div>
  
  <!-- DESCRIPTION -->
  <div class="product-description col-xs-8 col-sm-5 nopadding">
    <div>
      <a href="{% url 'product' product.id product.slug %}" class="product-preview-name">{{ product.name }}</a>
      <span class="product-preview-packing">{{ product.packing }}</span>
    </div>

    <p class="product-preview-brand">
      <a href="{% url 'brand' product.brand.id product.brand.slug %}">{{ product.brand.name }}</a>
    </p>
    {% include 'main/rating.html' with rating=product.rating %}
  </div>

  
  <!-- BUY SECTION -->
  <div class="product-buy col-xs-4 col-sm-4">
    <span class="product-preview-price"> 
      {% if product.min_price %}
      от {{ product.min_price|intcomma }} <i class="fa fa-rub"></i>
      {% else %}
      нет в наличии
      {% endif %}
    </span>
    
    {% if product.has_offers %}
    <span style="color:red"><i class="fa fa-thumbs-up"></i> лучшая цена</span>
    {% endif %}

    {% if product.available_item_count > 0 %}
    <span>в {{ product.available_item_count }} <span class="hidden-xs">магазинах </span>из {{ product.item_count }}</span>
    {% else %}
    <span>в {{ product.item_count }} магазинах</span>
    {% endif %}
  </div>

  <div class="comments-and-checklist-products-absolute">
 
    <div class="comments-and-checklist-products ">
      <span>
        <i class="fa fa-comment-o"></i>
        <a href="{% url 'product_reviews' product.id product.slug %}">{{ product.review_count }}</a>
      </span>
      
      <div class="hidden-xs in_list">
        {% include 'main/product/add_shopping_list.html' %}
      </div>
    </div>
  </div>

  <a class="btn {% if product.has_offers %}btn-success{% else %}btn-default{% endif%} btn-product-item" href="{% url 'product' product.id product.slug %}">Посмотреть цены</a>
</div>