{% extends "main/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block description %}Низкие цены на выбрать {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }} купить  Москве каталог скидка низкая цена сравнение цен{% endblock %}

{% block keywords %}купить москва выбрать {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }} каталог скидка низкая цена сравнение цен{% endblock %}

{% block title %}Купить {{ product.brand.name }} {{ product.name }} {{ product.packing }} по самой низкой цене в Москве{% endblock %}

{% block content %}

{% include 'main/product/card.html' %}

<script type="text/javascript">
$(document).ready(function(){
  $('#availability button').click(function () {
    var input = $('input[name='+$(this).attr('data-name')+']')
    if ($(this).hasClass('active')) {
      input.prop("disabled", true)
    } else {
      input.prop("disabled", false)
    }
    $('#filter_form').submit();
  })

  $('[data-toggle="popover"]').popover({
    placement: 'top',
    container: 'body',
  });
})
</script>
<style>
@media (max-width: 767px) {
  #availability .visible-xs {
    display: inline!important;
  }
}
</style>

<!-- PRODUCT LIST -->
<div id="product-list" class="col-lg-8 col-md-7 col-sm-12">
  
  {% if product.description %}
  <h3>Описание</h3>
  <div class="col-lg-12" style="padding-bottom:10px;">
    {% autoescape off %}
    {{ product.description|striptags|slice:"500" }}
    {% endautoescape %}
    <a href="{% url 'product_description' product.id product.slug %}">Читать полное описание</a>
  </div>
  {% endif %}

  {% if related_products %}
  <div class="hidden-xs">
  <h3>С этим покупают</h3>
  <div class="col-lg-12" style="padding-bottom:10px;">
    {% for p in related_products %}
      {% include 'main/product/block.html' with product=p category=0 %}
    {% endfor %}
  </div>
  </div>
  {% endif %}

  {% include 'main/product/tabs.html' with tab='prices' %}

  <!-- TABS -->
  <div class="tab-content">
    <!-- SORT BUTTONS -->
    <form method="get" action="{{ request.GET.path }}?{{ request.GET.urlencode }}/" id="filter_form">
    <input type="hidden" name="av" value="1" {% if not av %}disabled="disabled"{% endif %}>
    <input type="hidden" name="un" value="1" {% if not un %}disabled="disabled"{% endif %}>
    <input type="hidden" name="na" value="1" {% if not na %}disabled="disabled"{% endif %}>
          
    <div class="col-md-12 sort-buttons clearfix">
      
      <div class="btn-group col-md-8 col-xs-12 pull-center clearfix availability" role="group"  id="availability">
        <button type="button" data-name="av" class="btn btn-default{% if av %} active{% endif %}">
          <i class="fa fa-check"></i>&nbsp;<span class="hidden-xs">в наличии</span><span class="visible-xs">есть</span>
        </button>
        <button type="button" data-name="un" class="btn btn-default {% if un %} active{% endif %}">
          <i class="fa fa-question"></i>&nbsp;неизвестно
        </button>
        <button type="button" data-name="na" class="btn btn-default{% if na %} active{% endif %}">
          <i class="fa fa-times"></i>&nbsp;<span class="hidden-xs">нет в наличии</span><span class="visible-xs">нет</span>
        </button>
      </div>
      
      <div class="col-md-4 col-xs-12">
      {% include 'main/sort_buttons.html' %}
      </div>

    </div>
    </form>
      
    <!-- TAB PRICES -->
    <div class="tab-pane active" id="prices">
      {% for offer in offers %}
      {% include 'main/product/offer.html' with offer=offer product=product %}
      {% endfor %}
      
      {% for item in items %}
        {% include 'main/product/item.html' %}
        
      {% endfor %}

      <div style="text-align:center;">
        {% include 'main/pagination.html' with list=items %}
      </div>
    </div>
  </div>

</div>

{% endblock %}