<!-- TAB CONTROLS -->
<ul class="nav nav-tabs" id="product-tabs">
  <li {% if tab = 'prices' %}class="active"{% endif %}>
    <a href="{% url 'product' product.id product.slug %}">
      Цены 
      <span>
      {% if tab = 'prices' %}{{ items.paginator.count }}
      {% else %}{{ product.available_item_count }}
      {% endif %}</span>
    </a>
  </li>
  <li {% if tab = 'reviews' %}class="active"{% endif %}>
    <a href="{% url 'product_reviews' product.id product.slug %}">
      Отзывы 
      <span>{{ product.review_count }}</span>
    </a>
  </li>
  {% if product.ingredients %}
  <li {% if tab = 'ingredients' %}class="active"{% endif %}>
    <a href="{% url 'product_ingredients' product.id product.slug %}">Состав</a>
  </li>
  {% endif %}
  {% if product.description %}
  <li {% if tab = 'description' %}class="active"{% endif %}>
    <a href="{% url 'product_description' product.id product.slug %}">Описание</a>
  </li>
  {% endif %}
</ul>