/*=============*/
.offer-color{
  background-color:rgb(198, 255, 214)
}
.head-block{
  position: absolute;
  top: -90px;
  right: 100px;
}
.social:hover{
  opacity: 0.9
}
.social{
  display: inline-block;
  vertical-align: inherit;
  margin: 3px 0 0 3px;
  padding: 0;
  width: 40px;
  height: 40px;
  background: url('/static/img/social-icons.png') 0 0 transparent no-repeat;
}
.social.fb{background-position: 0 0;}
.social.vk{background-position: -168px 0;}
.social.tw{background-position: -41px 0;}
.social.ok{background-position: -126px 0;}
.social.gp{background-position: -252px 0;}
.social.ml{background-position: -294px 0;}
.social.yn{background-position: -1176px 0;}
/*=============*/
.offer-block {
  height: 260px;
  border: 1px solid rgb(238, 238, 238);
}
.offer-block .img img {
  max-width: 100%;
  max-height: 100%;
}
.offer-block .img {
  text-align: center;
  height: 180px;
}
.offer-block .name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  font-size: 16px;
  text-align: center;
}
.offer-block .brand {
  font-weight: bold;
  white-space: nowrap;
}
.offer-block .category {
  font-size: 12px;
  white-space: nowrap;
}
.offer-block .price {
  text-align: center;
  font-size: 18px;
}
.offer-block .price .profit {
  color: red;
}
/*=============*/
.product-block {
  height: 250px;
  border: 1px solid rgb(238, 238, 238);
}
.product-block .img img {
  max-width: 100%;
  max-height: 100%;
}
.product-block .img {
  text-align: center;
  height: 150px;
}
.product-block .name {
  display: block;
  font-size:14px;
  white-space: nowrap;
  overflow: hidden;
}
.product-block .brand {
  font-weight: bold;
  white-space: nowrap;
}
.product-block .category {
  font-size: 12px;
  white-space: nowrap;
}
.product-block .price .profit {
  color: red;
}
/*=============*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
    margin-left: 0px!important;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/*=============*/
.nopadding {
  padding: 0!important;
  margin: 0!important;
}
.inline {
  display: inline!important;
}
.block {
  display: block!important;
}
.inline-block {
  display: inline-block !important;
}
.fixed {
  position: fixed!important;
  top: 10px;
}
button {
  outline: none!important;
}
.grey {
  color: #888888;
}
/*=============*/
nav#main-nav {
  position: relative;
  margin-top: 115px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  nav#main-nav {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  nav#main-nav div.navbar-header > a {
    display: none;
  }
}
nav#main-nav div#bs-example-navbar-collapse-1 {
  position: relative;
}
@media (max-width: 768px) {
  nav#main-nav div#bs-example-navbar-collapse-1 img {
    display: none;
  }
}
nav#main-nav div#bs-example-navbar-collapse-1 ul.nav.navbar-nav > li.dropdown > ul.dropdown-menu {
  margin-left: 0;
  z-index: 1000000;
}
@media (min-width: 768px) {
  nav#main-nav div#bs-example-navbar-collapse-1 form {
    float: right!important;
    padding-right: 0;
    margin: 6px 10px;
  }
}
nav#main-nav #logo-header {
  position: absolute;
  top: -113px;
  left: 0;
}
nav#main-nav ul {
  margin-left: 77px;
}
div#filter {
  margin-bottom: 10px;
}
div#filter  > div:first-child,
div#filter  > div.slider {
  float: left;
}
div#filter h2 {
  font-size: 24px;
  margin: 0;
}
div#filter .form-group {
  margin: 0;
}
div#filter div#filter-brands {
  margin-top: 10px;
  margin-bottom: 20px;
}
div#filter div#filter-brands label {
  line-height: 34px;
}
div#filter div.brands-input {
  margin-left: 120px;
}
div#filter div.filter-labels {
  width: 120px;
}
div#filter div.filter-labels label {
  margin-top: 30px;
}
div#filter div.filter-labels label:first-child {
  margin-top: 14px;
}
div#filter div.filter-brands-label {
  margin: 0;
}
div#filter div.packing-var {
  margin-left: 120px;
}
div#filter div.packing-var div.slider {
  height: 50px;
}
div#filter div.packing-var div.tooltip {
  margin-top: -14px;
}
div#product-card {
  margin-bottom: 20px;
}
div#product-card h2 {
  font-size: 28px;
  margin-top: 0;
}
div#product-card h2 div {
  font-size: 20px;
  font-weight: bold;
}
div#product-card .product-image img {
  max-width: 100%;
  max-height: 200px;
}
div#product-card div.product-buy  > * {
  display: block;
}
div#product-card div.product-buy  > span {
  margin-left: 10px;
}
div#product-card div.product-buy span.product-preview-price {
  font-size: 22px;
}
div#product-card div.product-buy span.product-preview-brand {
  margin-left: 10px;
  font-weight: bold;
}
div.rating {
  margin-bottom: 10px;
  padding: 5px;
}
div.rating-rev {
  cursor: pointer;
}
div.rating .bulls {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
}
div.rating span.bull-grey {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  background: url(../img/bull-grey.png) no-repeat;
}
div.rating span.bull-color {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  background: url(../img/bull-color.png) no-repeat;
}
div.rating span.bull-color-half {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  background: url(../img/bull-color-half.png) no-repeat;
}
div.rating.large .bulls {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
}
div.rating.large span.bull-grey {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background: url(../img/bull-grey-large.png) no-repeat;
}
div.rating.large span.bull-color {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background: url(../img/bull-color-large.png) no-repeat;
}
div.rating.large span.bull-grey-half {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background: url(../img/bull-grey-large-half.png) no-repeat;
}
div.rating.large span.bull-color-half {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background: url(../img/bull-color-large-half.png) no-repeat;
}
ul#product-tabs {
  margin-bottom: 20px;
}
div.sort-buttons {
  margin-bottom: 10px!important;
}
@media (max-width: 655px) {
  div.sort-buttons div#availability {
    float: none!important;
    display: block;
    margin: 0 auto;
    width: 375px;
  }
}
@media (max-width: 655px) {
  div.sort-buttons div.order {
    margin: 10px auto 0;
    width: 220px;
    float: none!important;
    display: block;
  }
}
div.product-item {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 10px!important;
  padding-bottom: 10px!important;
  position: relative;
}
div.product-item div.product-image {
  margin-top: 18px;
  margin-bottom: 15px;
  text-align: center;
}
div.product-item div.product-image img {
  max-width: 100%;
  max-height: 150px;
  margin: 0 auto;
}
div.product-item div.product-description {
  margin-top: 23px;
  margin-bottom: 60px;
  position: relative;
}
div.product-item div.product-description a.product-preview-name {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  display: block;
}
div.product-item div.product-description a.product-preview-name:visited {
  color: red;
}
div.product-item div.product-description p.product-preview-brand {
  margin-right: 15px;
}
div.product-item div.product-description span.product-preview-packing {
  font-weight: bold;
}
div.product-item div.product-buy {
  margin-top: 15px;
  margin-bottom: 73px;
}
div.product-item div.product-buy  > * {
  display: block;
}
div.product-item div.product-buy  > span {
  text-align: right;
  white-space: nowrap;
}
div.product-item div.product-buy span.product-preview-price {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}
div.product-item div.product-buy a {
  margin-top: 155px;
}
div.product-item div.comments-and-checklist-products-absolute {
  position: absolute;
  bottom: 15px;
}
@media (min-width: 1200px) {
  div.product-item div.comments-and-checklist-products-absolute {
    left: 191px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  div.product-item div.comments-and-checklist-products-absolute {
    left: 137px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  div.product-item div.comments-and-checklist-products-absolute {
    left: 184px;
  }
}
@media (max-width: 768px) {
  div.product-item div.comments-and-checklist-products-absolute {
    left: 3px;
  }
}
div.product-item div.comments-and-checklist-products  > * {
  margin-left: 15px;
  display: inline;
}
div.product-item div.comments-and-checklist-products  > *:last-child {
  margin-right: 0;
}
div.product-item div.comments-and-checklist-products span i {
  font-size: 20px;
}
.in_list div {
  display: inline;
}
.in_list label {
  border-bottom: dotted 1px #000;
  cursor: pointer;
}
div.product-item div.comments-and-checklist-products.product {
  margin-bottom: 8px;
}
div.product-item a.btn-product-item {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
div.product-item:last-child {
  border: none;
}
div#reviews div.sort-buttons {
  padding-left: 10px;
}
@media (max-width: 655px) {
  div#reviews div.sort-buttons div.order {
    margin: 0;
    width: 250px;
    float: right!important;
    display: block;
  }
}
div#reviews div.reveiew-text {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 1px;
}
div#reviews div#tab-reviews-rating {
  margin-top: 8px;
}
div#reviews div#tab-reviews-rating  > * {
  display: inline-block;
}
div#reviews div#tab-reviews-rating label {
  width: 60px;
  margin-right: 10px;
  line-height: 45px;
}
div#reviews div#tab-reviews-rating div {
  margin-left: 15px;
}
div#reviews div#tab-reviews-review {
  margin-bottom: 20px;
}
div#reviews div#tab-reviews-review  > * {
  display: inline-block;
}
div#reviews div#tab-reviews-review label {
  line-height: 35px;
  width: 60px;
  margin-right: 20px;
}
div#reviews div#tab-reviews-review textarea {
  width: 250px;
}
div#footer-wrapper {
  background-color: #222;
}
footer {
  background-color: #222;
}
footer ul#nav-footer {
  margin: 15px auto 7px;
  width: 205px;
  padding: 0;
}
footer ul#nav-footer li {
  float: left;
  list-style: none;
  margin-right: 10px;
}
footer p {
  text-align: center;
}
