{% extends "password_reset/base.html" %}
{% load widget_tweaks %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="well">
          <h5>Изменить пароль</h5>
          <div class="form">
            <form method="post" class="form-horizontal" action="{% url "profile_change_password" %}">
              {% csrf_token %}
              
              <div class="form-group">
                 <label class="control-label col-md-3">Новый пароль</label>
                 <div class="col-md-6">
                  {{ form.password1|attr:"class:form-control" }}
                  {% if form.password1.errors %}<div class="alert alert-danger">{{ form.password1.errors }}</div>{% endif %}
                 </div>
              </div>

              <div class="form-group">
                 <label class="control-label col-md-3">Новый пароль (повторите)</label>
                 <div class="col-md-6">
                  {{ form.password2|attr:"class:form-control" }}
                  {% if form.password2.errors %}<div class="alert alert-danger">{{ form.password2.errors }}</div>{% endif %}
                 </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                 <button type="submit" class="btn btn-default">Изменить пароль</button>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
