{% extends 'blog/base.html' %}
{% load thumbnail %}
{% load widget_tweaks %}

{% block title %}Редактировать профиль{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
  $('#id_avatar').change(function(){
    $('#edit_avatar').html($(this).val());
  });
})
</script>
{% endblock %}

{% block content %}
<div class="items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="title">Редактировать профиль</h5>
        <div class="form form-small">
          <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if message %}
            <div class="form-group">
              <div class="alert alert-success">
                {{ message }}
              </div>
            </div>
            {% endif %}
            
            <div class="form-group">
              <label class="control-label col-md-2">Аватар</label>
              <div class="col-md-6">
                
                {% if user_profile.avatar %}
                  {% thumbnail user_profile.avatar "150x150" crop="center" as im %}
                  <img style="max-width:150px; max-height:150px" class="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                {% endif %}

                
                {% autoescape off %}{% render_field form.avatar %}{% endautoescape %}
                {{ form.avatar.errors }}
                <button class="btn btn-default" onclick="$('#id_avatar').click()" id="edit_avatar">Редактировать аватар</button>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Email</label>
              <div class="col-md-6">
                {{ form.email|attr:"class:form-control" }}
                {% if form.email.errors %}
                <div class="alert alert-danger">{{ form.email.errors }}</div>
                {% elif not request.user.email %}
                <div class="alert alert-danger">Необходимо ввести адрес вашей почты</div>
                {% elif not user_profile.is_active %}
                <div class="alert alert-danger">
                  Ваш адрес электронной почты не подтвержден.<br>
                  <a href="{% url 'profile_send_confirm' %}">
                  {% if not user_profile.confirm_key %}
                  Выслать
                  {% else %}
                  Выслать повторно
                  {% endif %}
                  </a>
                   ключ для потдтверждения
                </div>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Имя пользователя</label>
              <div class="col-md-6">
                {{ form.username|attr:"class:form-control" }}
                {% if form.username.errors %}<div class="alert alert-danger">{{ form.username.errors }}</div>{% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Имя</label>
              <div class="col-md-6">
                {{ form.first_name|attr:"class:form-control" }}
                {% if form.first_name.errors %}<div class="alert alert-danger">{{ form.first_name.errors }}</div>{% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Фамилия</label>
              <div class="col-md-6">
                {{ form.last_name|attr:"class:form-control" }}
                {% if form.last_name.errors %}<div class="alert alert-danger">{{ form.last_name.errors }}</div>{% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">О себе</label>
              <div class="col-md-6">
                {{ form.about|attr:"class:form-control" }}
                {% if form.about.errors %}<div class="alert alert-danger">{{ form.about.errors }}</div>{% endif %}
              </div>
            </div>

            <div class="form-group">
              <!-- Buttons -->
              <div class="col-md-6 col-md-offset-2">
                <button type="submit" class="btn btn-default">Сохранить</button>
                <button type="reset" class="btn btn-default">Сбросить</button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <a href="{% url 'profile_change_password' %}" class="btn btn-success">Изменить пароль</a>
              </div>
            </div>

          </form>
        </div>

        <h5 class="title">Присоединенные аккаунты</h5>
        <div>
          {% if 'vk-oauth' in socials %}       
          <button class="btn btn-default">
            <i class="fa fa-vk vk"></i> присоединен
          </button>
          {% else %}
          <a class="btn btn-success" href="{% url 'socialauth_begin' 'vk-oauth' %}"> 
            <i class="fa fa-vk vk"></i> присоединить
          </a>
          {% endif %}
          
          {% if 'odnoklassniki' in socials %}  
          <button class="btn btn-default">
            <i class="fa fa-user odnoklassniki"></i> присоединен
          </button>
          {% else %}
          <a class="btn btn-success" href="{% url 'socialauth_begin' 'odnoklassniki' %}"> 
            <i class="fa fa-user odnoklassniki"></i> присоединить
          </a>
          {% endif %}
          
          {% if 'facebook' in socials %}       
          <button class="btn btn-default">
            <i class="fa fa-facebook facebook"></i> присоединен
          </button>
          {% else %}
          <a class="btn btn-success" href="{% url 'socialauth_begin' 'facebook' %}"> 
            <i class="fa fa-facebook facebook"></i> присоединить
          </a>
          {% endif %}

          {% if 'twitter' in socials %}        
          <button class="btn btn-default">
            <i class="fa fa-twitter twitter"></i> присоединен
          </button>
          {% else %}
          <a class="btn btn-success" href="{% url 'socialauth_begin' 'twitter' %}"> 
            <i class="fa fa-twitter twitter"></i> присоединить
          </a>
          {% endif %}
          
          {% if 'google-oauth2' in socials %}  
          <button class="btn btn-default">
            <i class="fa fa-google-plus google-plus"></i> присоединен
          </button>
          {% else %}
          <a class="btn btn-success" href="{% url 'socialauth_begin' 'google-oauth2' %}"> 
            <i class="fa fa-google-plus google-plus"></i> присоединить
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% comment %}
{% if message %}
<b>Сообщение:{{ message }}</b>
{% endif %}

 <div class="content-wiev_item">
   <h2>Редактирование профиля</h2>

   <form action="{% url 'profile_edit' %}" method="post" class="form_block" enctype="multipart/form-data">
   <div class="profil_edit">

    <div class="avatar">
     
    </div>
 
    <div class="info">
      {% csrf_token %}

      Email:<div>{{ form.email }}</div>
      {{ form.email.errors }}

      Имя пользователя:<div>{{ form.username }}</div>
      {{ form.username.errors }}
      
      Имя:<div>{{ form.first_name }}</div>
      {{ form.first_name.errors }}

      Фамилия:<div>{{ form.last_name }}</div>
      {{ form.last_name.errors }}

      О себе:<div>{{ form.about }}</div>
      {{ form.about.errors }}
    </div>

    <div class="clear"></div>
    <div class="clear"></div>
    <input type="submit" class="but-yellow active" value="сохранить">
    <div class="clear"></div>

   </div>
   </form>

 </div>
{% endcomment %}