{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}Избранное{% endblock %}

{% block content %}
{% user_profile request.user %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Избранное</h2>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <div class="posts">
          {% include 'blog/post/list.html' with posts=posts %}
          {% include 'blog/pagination.html' with list=posts %}
		    </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}