{% extends 'blog/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="items content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="title">Вход</h5>
        <div class="form form-small">
          {% include 'blog/profile/login_form.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}