<!-- Register Modal starts -->
<div id="login" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4>Вход</h4>
			</div>
			<div class="modal-body">
				<div class="form">
					{% include 'blog/profile/login_form.html' %}
				</div>
			</div>
			<div class="modal-footer">
				<p>Зарегистрироваться можно <a href="#register" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true">тут</a>.</p>
			</div>
		</div>
	</div>
</div>
<!--/ Register modal ends -->
