<form class="form-horizontal" method="post" action="{% url 'login' %}">
  {% load widget_tweaks %}
  {% csrf_token %}
  <div class="form-group">
	<label class="control-label col-md-3">Имя пользователя</label>
	<div class="col-md-7">
	  {{ form.login|attr:"class:form-control" }}
	  {% if form.login.errors %}<div class="alert alert-danger">{{ form.login.errors }}</div>{% endif %}
	</div>
  </div>   
  <div class="form-group">
	<label class="control-label col-md-3">Пароль</label>
	<div class="col-md-7">
	  {{ form.password|attr:"class:form-control" }}
	  <p class="help-text"><a href="{% url 'password_reset_recover' %}">Забыли пароль?</a></p>
	  {% if form.password.errors %}<div class="alert alert-danger">{{ form.password.errors }}</div>{% endif %}
	</div>
  </div>
  
  {% if form.captcha %}
  <div class="form-group">
	<label class="control-label col-md-3">Каптча</label>
	<div class="col-md-7">
	  {{ form.captcha }}
	  {% if form.captcha.errors %}<div class="alert alert-danger">{{ form.captcha.errors }}</div>{% endif %}
	</div>
  </div>
  {% endif %}

  <div class="form-group">
	<div class="col-md-9 col-md-offset-3">
	<button type="submit" class="btn btn-default">Войти</button>
	<button type="reset" class="btn btn-default">Сброс</button>
	</div>
  </div>
</form>