<div class="right_post">
  <h3>Меню [{{ request.user.username }}]</h3>
  <ul>
    <li><a href="{% url 'profile_edit' %}">Редактировать профиль</a></li>
    <li><a href="{% url 'profile_posts' %}">Мои посты</a></li>
    <li><a href="{% url 'profile_scores' %}">Мои баллы</a></li>
    <li><a href="{% url 'post_create' %}">Создать пост</a></li>
    <li><a href="{% url 'logout' %}">Выход</a></li>
  </ul>
</div>