<div id="modal-start-tour" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Обучение
      </div>
      <div class="modal-body">
        <p>{{ text }}</p>
      </div>
      <div class="modal-footer">
        <a href="javascript:$('#modal-start-tour').modal('hide');startTour()" 
          class="btn btn-success">Да</a>
        <a href="javascript:looked_intro_send();$('#modal-start-tour').modal('hide');" 
          class="btn btn-default">Нет</a>  
      </div>
    </div>
  </div>
</div>