{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Обновления{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Обновления ({{ items.paginator.count }})</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}
        <table class="table">
        {% for item in items %}
          <tr{% if item.is_active %} class="danger"{% endif %}><td>
          {{ item.created_at|my_naturaltime }}

          {% if item.event_type == 'forum_message_answer' %}
          вам ответили на <a href="{% url 'forum_thread' item.target.thread.id item.target.thread.slug %}#{{ item.target.id }}">сообщение</a> на форуме.
          <p><i>{{ item.target.content|striptags|slice:":200" }}...</i></p>
          
          {% elif item.event_type == 'post_comment' %}
          под постом <b>{{ item.target.content_object.title }}</b>
          вам оставили <a href="{% url 'post' item.target.content_object.id item.target.content_object.slug %}#{{ item.target.id }}">комментарий:</a>
          <p><i>{{ item.target.content|striptags|slice:":200" }}...</i></p>

          {% elif item.event_type == 'new_answer' %}
          на ваш вопрос <b>{{ item.target.question.title }}</b>
          оставили <a href="{% url 'qa_question' item.target.question.id item.target.question.slug %}#{{ item.target.id }}">ответ</a>:
          <p><i>{{ item.target.content|striptags|slice:":200" }}...</i></p>

          {% elif item.event_type == 'subs_question_new_answer' %}
          на подписанный вопрос <b>{{ item.target.question.title }}</b>
          оставили <a href="{% url 'qa_question' item.target.question.id item.target.question.slug %}#{{ item.target.id }}">ответ</a>:
          <p><i>{{ item.target.content|striptags|slice:":200" }}...</i></p>

          {% elif item.event_type == 'invocation_question' %}
          вам задали вопрос <a href="{% url 'qa_question' item.target.id item.target.slug %}">{{ item.target.title }}</a>:
          <p><i>{{ item.target.content|striptags|slice:":200" }}...</i></p>

          {% elif item.event_type == 'invocation_post_comment' %}
          под постом <b>{{ item.target.content_object.title }}</b>
          вас упомянули в <a href="{% url 'post' item.target.content_object.id item.target.content_object.slug %}#{{ item.target.id }}">комментарии:</a>
          <p><i>{{ item.target.content|striptags|slice:":200" }}...</i></p>

          {% else %}
          {{ item.event_type }}
          {% endif %}
          </td></tr>
        {% endfor %}
        </table>

        {% include 'blog/pagination.html' with list=item %}

      </div>
    </div>
  </div>
</div>
{% endblock %}