{% extends 'blog/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="items content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="title">Восстановление пароля</h5>
        <div class="form">
          
          <form class="form-horizontal" method="post" action="">
          {% load widget_tweaks %}
          {% csrf_token %}
          <div class="form-group">
          <label class="control-label col-md-3">Введите email</label>
          <div class="col-md-7">
            {{ form.email|attr:"class:form-control" }}
            {% if form.email.errors %}<div class="alert alert-danger">{{ form.email.errors }}</div>{% endif %}
          </div>
          </div>   
          <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-default">Восстановить пароль</button>
          </div>
          </div>
        </form>


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}