{% extends 'blog/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="items content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Вам на почту отправлено сообщение.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}