{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}Мои посты{% endblock %}

{% block content %}
{% user_profile request.user %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Мои посты</h2>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <div class="posts">
          <ul class="nav nav-tabs">
            <li{% if published == True %} class="active"{%endif%}>
              <a href="{% url 'profile_posts' %}" >Опубликованные ({{ profile.count_posts_pub }})</a>
            </li>
            <li{% if published == False %} class="active"{%endif%}>
              <a href="{% url 'profile_posts' %}?draft">Черновики ({{ profile.count_posts_draft }})</a>
            </li>
            <li{% if published == None %} class="active"{%endif%}>
              <a href="{% url 'profile_posts' %}?moderate">На модерации ({{ profile.count_posts_moderate }})</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active">
              {% include 'blog/post/list.html' with posts=posts %}
              {% include 'blog/pagination.html' with list=posts %}
            </div>
          </div>

		    </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}