{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Мои вопросы{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Мои вопросы</h2>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        {% include 'qa/question_list.html' with questions=questions %}
        {% include 'blog/pagination.html' with list=questions %}

      </div>
    </div>
  </div>
</div>
{% endblock %}