<form class="form-horizontal" method="post" action="{% url 'register' %}">
  {% load widget_tweaks %}
  {% csrf_token %}
  <div class="form-group">
	<label class="control-label col-md-3">Имя пользователя</label>
	<div class="col-md-7">
	  {{ form.login|attr:"class:form-control" }}
	  {% if form.login.errors %}<div class="alert alert-danger">{{ form.login.errors }}</div>{% endif %}
	</div>
  </div>   
  <div class="form-group">
	<label class="control-label col-md-3">Email</label>
	<div class="col-md-7">
	  {{ form.email|attr:"class:form-control" }}
	  {% if form.email.errors %}<div class="alert alert-danger">{{ form.email.errors }}</div>{% endif %}
	</div>
  </div>
  <div class="form-group">
	<label class="control-label col-md-3">Пароль</label>
	<div class="col-md-7">
	  {{ form.password1|attr:"class:form-control" }}
	  {% if form.password1.errors %}<div class="alert alert-danger">{{ form.password1.errors }}</div>{% endif %}
	</div>
  </div>
  <div class="form-group">
	<label class="control-label col-md-3">Повторите пароль</label>
	<div class="col-md-7">
	  {{ form.password2|attr:"class:form-control" }}
	  {% if form.password2.errors %}<div class="alert alert-danger">{{ form.password2.errors }}</div>{% endif %}
	</div>
  </div>
  
  <div class="form-group">
	<div class="col-md-9 col-md-offset-3">
	<button type="submit" class="btn btn-default">Зарегистрироваться</button>
	<button type="reset" class="btn btn-default">Сброс</button>
	</div>
  </div>
</form>