{% extends 'blog/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="items content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="title">Регистрация</h5>
        <div class="form form-small">
          {% include 'blog/profile/register_form.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}