<!-- Register Modal starts -->
<div id="register" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4>Регистрация</h4>
			</div>
			<div class="modal-body">
				<div class="form">
					{% include 'blog/profile/register_form.html' %}
				</div>
			</div>
			<div class="modal-footer">
				<p>Если вы уже зарегистрированы войдите <a href="#login" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true">тут</a>.</p>
			</div>
		</div>
	</div>
</div>
<!--/ Register modal ends -->
