{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Мои баллы{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Баллов ({{ profile.scores }})</h2>
        <h4>Начислений ({{ items.paginator.count }})</h4>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        <ul class="nav nav-tabs">
          <li{% if mode == 'basic' %} class="active"{%endif%}>
            <a href="{% url 'profile_scores' %}" >Прочее</a>
          </li>
          <li{% if mode == 'likes' %} class="active"{%endif%}>
            <a href="{% url 'profile_scores' %}?{{queries.urlencode}}&amp;likes">Лайки</a>
          </li>
        </ul>

        {% include 'blog/profile/scores_table.html' %}

      </div>
    </div>
  </div>
</div>
{% endblock %}