<div class="tab-content">
  <div class="tab-pane active">
    <table class="table table-stripped">
      <thead>
        <th>Дата</th>
        <th>Тип</th>
        <th>Баллы</th>
        {% if mode == 'likes' %}
        <th><i class="fa fa-facebook"></i></th>
        <th><i class="fa fa-twitter"></i></th>
        <th><i class="fa fa-vk"></i></th>
        <th>ok</th>
        <th><i class="fa fa-google-plus"></i><th>
        {% endif %}
      </thead>
      {% if mode == 'likes' %}
        {% for item in items %}
        <tr>
          <td>{{ item.shares_updated_at }}</td>
          <td>
            <i class="fa fa-thumbs-o-up"></i> Пост
            <a href="{% url 'post' item.id item.slug %}">{{ item.title }}</a>
          </td>
          <td>{{ item.like_count }}</td>
          <td>{{ item.shares_facebook}} </td>
          <td>{{ item.shares_twitter}} </td>
          <td>{{ item.shares_vkontakte}} </td>
          <td>{{ item.shares_odnoklassniki}} </td>
          <td>{{ item.shares_googleplus}} </td>
        </tr>
        {% endfor %}
      {% elif mode == 'basic' %}
        {% for score in items %}
        <tr{% if score.is_active %} class="danger"{% endif %}>
          <td>{{ score.created_at }}</td>
          <td>
            {% if score.score_type == 'post_pub' %}
            <i class="fa fa-file-text"></i>
            Публикация поста <a href="{% url 'post' score.target.id score.target.slug %}">{{ score.target.title }}</a>

            {% elif score.score_type == 'post_first_description' %}
            <i class="fa fa-star"></i>
            Первое описание товара <a href="{% url 'post' score.target.id score.target.slug %}">{{ score.target.title }}</a>
            
            {% elif score.score_type == 'post_each_5' %}
            <i class="fa fa-html5"></i>
            За публикацию 5-го поста <a href="{% url 'post' score.target.id score.target.slug %}">{{ score.target.title }}</a>
            
            {% elif score.score_type == 'post_1000_views' %}
            <i class="fa fa-eye"></i>
            1000 просмотров поста <a href="{% url 'post' score.target.id score.target.slug %}">{{ score.target.title }}</a>
            
            {% elif score.score_type == 'new_forum_message' %}
            <i class="fa fa-comment"></i>
            <a href="{% url 'forum_thread' score.target.thread.id score.target.thread.slug %}#{{ score.target.id }}">Cообщение</a> 
            на форуме в ветке {{ score.target.thread.title }} 
            
            {% elif score.score_type == 'user_enter' %}
            <i class="fa fa-sign-in"></i> Вход на сайт 
            
            {% elif score.score_type == 'new_post_comment' %}
            <i class="fa fa-comment-o"></i>
            <a href="{% url 'post' score.target.content_object.id score.target.content_object.slug %}#{{ score.target.id }}">Комментарий</a>
             к посту {{ score.target.content_object.title }}
            
            {% elif score.score_type == 'new_question' %}
            <i class="fa fa-question"></i>
            За вопрос <a href="{% url 'qa_question' score.target.id score.target.slug %}">{{ score.target.title }}</a>

            {% elif score.score_type == 'correct_answer' %}
            <i class="fa fa-check"></i>
            За лучший ответ на вопрос
            <a href="{% url 'qa_question' score.target.question.id score.target.question.slug %}#{{ score.target.id }}">{{ score.target.question.title }}</a>

            {% elif score.score_type|slice:':6' == 'charge' %}
            <i class="fa fa-birthday-cake"></i>
            Баллы от администратора. Комментарий: <p>{{ score.score_type|slice:'7:' }}</p> 

            {% endif %}
          </td>
          <td>{{ score.value }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
    {% include 'blog/pagination.html' with list=items %}
  </div>
</div>