{% if not request.session.basket or offer.id|slugify not in request.session.basket %}
<a class="btn btn-success {{ btn_class }} in_basket no basket_{{ offer.id }} btn-success" onclick="basket_toggle({{ offer.id }}, this)" style="font-weight:bold;">
  {% if add_label %}{{ add_label }}{%else%}В корзину{% endif %}
</a>
<a class="btn btn-danger {{ btn_class }} in_basket yes basket_{{ offer.id }} btn-danger" onclick="basket_toggle({{ offer.id }}, this)" style="font-weight:bold;display:none;">
  {% if del_label %}{{ del_label }}{%else%}Убрать{% endif %}
</a>
{% else %}
<a class="btn btn-success {{ btn_class }} in_basket no basket_{{ offer.id }} btn-success" onclick="basket_toggle({{ offer.id }}, this)" style="font-weight:bold;display:none;">
  {% if add_label %}{{ add_label }}{%else%}В корзину{% endif %}
</a>
<a class="btn btn-danger {{ btn_class }} in_basket yes basket_{{ offer.id }} btn-danger" onclick="basket_toggle({{ offer.id }}, this)" style="font-weight:bold;">
  {% if del_label %}{{ del_label }}{%else%}Убрать{% endif %}
</a>
{% endif %}