{% extends "main/base.html" %}

{% block description %}Интернет магазин fuel4bull.ru{% endblock %}
{% block keywords %}Интернет магазин fuel4bull.ru купить спортпит спортивное питание доставка{% endblock %}
{% block title %}Интернет магазин fuel4bull.ru{% endblock %}

{% block content %}

<div class="col-sm-12">

<h2>Информация о доставке</h2>
<br>
Мы доставляем товар несколькими способами:<br>
 <br>
Самовывоз ст. м. Римская - оплата при встрече по факту получения товара.<br>
Доставка почтой России - 300р высылается на следующий день после оплаты.<br>
Доставка почтой EMS - 800р высылается на следующий день после оплаты.<br>
Курьерская доставка по Москве - 350р.<br>
    
    {% if products %}
    <h3>Лучшие предложения</h3>
    {% for product in products %}
      {% include 'main/product/block.html' with product=product hash='offer' %}
      {% endfor %}
    {% endif %}

</div>
{% endblock %}