{% extends "main/base.html" %}

{% block description %}Интернет магазин fuel4bull.ru{% endblock %}
{% block keywords %}Интернет магазин fuel4bull.ru купить спортпит спортивное питание{% endblock %}
{% block title %}Интернет магазин fuel4bull.ru{% endblock %}

{% block content %}
<style>
.cat {margin-top: 2px;}
</style>

<div class="col-sm-12">

    {% if categories %}
    {% for c in categories %}
    <a class="btn btn-default cat btn-xs" href="{{ c.url }}">{{ c.name }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% if products %}
    <h3>Лучшие предложения</h3>
    {% for product in products %}
      {% include 'main/product/block.html' with product=product hash='offer' %}
      {% endfor %}
    {% endif %}

</div>
{% endblock %}