<div class="well" id="one-click-form" style="display:none;">
  <h4>
    Купить в один клик 
    <a class="btn btn-success btn-xs" href="{% url 'basket' %}"> 
      <i class="fa fa-shopping-cart"></i> корзина
    </a>
  </h4>
  <div class="form-horizontal col-md-12">
    
    <form method="post" action="{% url 'basket' %}">
    {% csrf_token %}
    <div class="form-group">
      <label>Номер телефона</label>
      <div class="controls">
        <div class="input-group">
          <span class="input-group-addon">+7</span>
          <input class="form-control" id="id_phone_number" maxlength="10" name="phone_number" type="text">
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label>Ваше имя</label>
      <div class="controls">
        <input class="form-control" id="id_name" name="name" type="text">
      </div>
    </div>
    
    <div class="form-group pull-right" id="filter-brands">
      <input type="button" class="btn btn-danger" value="Отмена" onclick="$('.in_basket').popover('hide');">
      <input type="submit" class="btn btn-success" name="order" value="Купить">
    </div>
    
    </form>

  </div>
</div>