{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Description, Keywords and Author -->
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="ResponsiveWebInc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    
    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="{% static 'bt/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bt/css/bootstrap-submenu.min.css' %}" rel="stylesheet" >
    <!-- Flex slider -->
    <link href="{% static 'bt/css/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'bt/css/owl.carousel.css' %}" rel="stylesheet"> 
    <link href="{% static 'bt/css/font-awesome.min.css' %}" rel="stylesheet">   
    <!-- Custom CSS -->
    <link href="{% static 'bt/css/style.css' %}" rel="stylesheet">
    <!-- Stylesheet for Color -->
    <link href="{% static 'bt/css/red.css' %}" rel="stylesheet">

    <link href="{% static 'bt/css/countdown.css' %}" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    
    <link href="{% static 'bt/css/bootstrap-tour.min.css' %}" rel="stylesheet">
    
    {% block stylies %}{% endblock %}

    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="{% static 'bt/js/jquery.js' %}"></script>
    <script src="{% static 'bt/js/jquery.countdown.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'bt/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bt/js/bootstrap-tour.min.js' %}"></script>
    <script src="{% static 'bt/js/bootstrap-submenu.min.js' %}"></script>
    <script src="{% static 'bt/js/owl.carousel.min.js' %}"></script> 
    <script src="{% static 'bt/js/filter.js' %}"></script> 
    <!-- Flex slider -->
    <script src="{% static 'bt/js/jquery.flexslider-min.js' %}"></script> 
    <!-- Respond JS for IE8 -->
    <script src="{% static 'bt/js/respond.min.js' %}"></script>
    <!-- HTML5 Support for IE -->
    <script src="{% static 'bt/js/html5shiv.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'bt/js/countchar.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('.dropdown-submenu > a').submenupicker();
    });
    </script>

    {% include 'blog/admin/scripts.html' %}

    {% block scripts %}{% endblock %}
    
  </head>
  
  <body>

    {% include 'blog/header.html' %}

    <!-- Page content starts -->
    {% block content %}{% endblock %}
    <!--/ Page content ends -->

    {% include 'blog/footer.html' %}

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 

  </body> 
</html>