{% load thumbnail %}
<div class="col-md-3 col-sm-3">
  <div class="ceo">
     <!-- Staff name with designation. Designation should be enclosed inside <span> tag. -->
     <h4 class="title">{{ title }} 
     	{% if subtitle %}
     	<span class="color">{{ subtitle }}</span>
     	{% endif %}
     </h4>
     <!-- Staff Photo -->
     {% if image %}
     <a href="{{ url }}">
     	{% thumbnail image "180x180" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
     </a>
     {% endif %}
     <p>{{ description }}</p>
  </div>
  <div class="bor"></div>
</div>