{% if tender %}
<div class="col-md-12" style="text-align:center;">
  ДО КОНЦА КОНКУРСА<br>ОСТАЛОСЬ
</div>
<div class="col-md-12">
  <span id="clock"></span>
</div>
<script>
function date_format(d) {
  return [
    d.getFullYear(),
    d.getMonth()+1,
    d.getDate(),
  ].join('/')+' '+
  [
    d.getHours(),
    d.getMinutes(),
    d.getSeconds()
  ].join(':');
}
$(document).ready(function(){
  var now = new Date();
  var diff_seconds = {{ tender.diff_seconds }};
  var finish = new Date(now.getTime() + diff_seconds*1000);
  var date = date_format(finish);
  $('#clock').countdown(date, function(event) {
    $(this).html(event.strftime(
      '<ul id="countdown">'+
      '<li><span>%D</span><p>дней</p><li class="seperator">:</li>'+
      '<li><span>%H</span><p>часов</p><li class="seperator">:</li>'+
      '<li><span>%M</span><p>минут</p><li class="seperator">:</li>'+
      '<li><span>%S</span><p>секунд</p>'+
      '</ul>'
    ));
  });
})
</script>
{% endif %}