{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Обратная связь</h2>
        <h4>Сообщите нам о вашей проблеме</h4>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% load widget_tweaks %}
        <!-- Form Comment -->
        <div class="respond well">
        <!-- Form title -->
         <div class="title"><h4>Обратная связь</h4></div>
         <!-- Comment form -->
         <div class="form">
           <form class="form-horizontal" method="post">
             {% csrf_token %}
             {% if not request.user.is_authenticated %}
             <div class="form-group">
               <label class="control-label col-md-3">Ваше имя</label>
               <div class="col-md-6">
                {{ form.name|attr:"class:form-control" }}
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-md-3">Email</label>
               <div class="col-md-6">
                {{ form.email|attr:"class:form-control" }}
               </div>
             </div>
             {% endif %}
             <div class="form-group">
               <label class="control-label col-md-3">Тема</label>
               <div class="col-md-6">
                {{ form.theme|attr:"class:form-control" }}
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-md-3">Содержание</label>
               <div class="col-md-6">
                {{ form.content|attr:"class:form-control" }}
                <p class="help-block">{{ form.content.errors }}</p>
               </div>
             </div>
             <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
               <button type="submit" class="btn btn-default">Спросить</button>
               <button type="reset" class="btn btn-default">Сбросить</button>
              </div>
             </div>
           </form>
         </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}