{% load blog_tags %}
<!-- Footer starts -->
<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter31166046 = new Ya.Metrika({ id:31166046, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/31166046" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            
            <div class="widget">
              
              {% if not request.user.is_authenticated %}
              <h5>Регистрация</h5>
              <hr />
              <div class="social">
                <a href="{% url 'socialauth_begin' 'vk-oauth' %}"><i class="fa fa-vk vk"></i></a>
                <a href="{% url 'socialauth_begin' 'odnoklassniki' %}"><i class="fa fa-user odnoklassniki"></i></a>
                <a href="{% url 'socialauth_begin' 'facebook' %}"><i class="fa fa-facebook facebook"></i></a>
                <a href="{% url 'socialauth_begin' 'twitter' %}"><i class="fa fa-twitter twitter"></i></a>
                <a href="{% url 'socialauth_begin' 'google-oauth2' %}"><i class="fa fa-google-plus google-plus"></i></a>
              </div>
              {% endif %}
              
              <hr />
              <i class="fa fa-envelope-o"></i> &nbsp; <a href="{% url 'feedback' %}">Обратная связь</a>
              <hr />
            </div>
          </div>
          <div class="col-md-4">
            
          </div>
          <div class="col-md-4">
            <div class="widget">
              <h5>Разделы сайта</h5>
              <hr />
              <div class="two-col">
                {% post_categories %}
                <div class="col-left">
                  <ul>
                    {% for c in categories|slice:":4" %}
                    <li><a href="{% url 'post_category' c.slug %}">{{ c.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-right">
                  <ul>
                    {% for c in categories|slice:"4:" %}
                    <li><a href="{% url 'post_category' c.slug %}">{{ c.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- Copyright info -->
        <p class="copy">&copy; 2015 | <a href="{% url 'home' %}">Главная</a> | <a href="{% url 'page' 'about' %}">О проекте</a> | <a href="{% url 'page' 'rules' %}">Правила</a> | <a href="{% url 'page' 'agreement' %}">Пользовательское соглашение</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>   
<!--/ Footer ends -->