{% load blog_tags %}
{% load forum_tags %}
{% load staticfiles %}

{% if not request.user.is_authenticated %}
{% login_modal %}
{% register_modal %}
{% endif %}

<!-- Header starts -->
<header>
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 hidden-sm hidden-xs">
        <!-- Logo. Use class "color" to add color to the text. -->
        <div class="logo">
          <img src="{% static 'img/logo.png' %}" style="max-width:80%">
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        {% countdown %}
      </div>
      
      <div class="col-md-4 col-sm-6" style="text-align:center;">
        {% if not request.user.is_authenticated %}
        ПРИНИМАЙТЕ УЧАСТИЕ И<br>ВЫИГРЫВАЙТЕ ПРИЗЫ
        <div class="hlinks">
          <div class="social">
            <a href="{% url 'socialauth_begin' 'vk-oauth' %}"><i class="fa fa-vk vk"></i></a>
            <a href="{% url 'socialauth_begin' 'odnoklassniki' %}"><i class="fa fa-user odnoklassniki"></i></a>
            <a href="{% url 'socialauth_begin' 'facebook' %}"><i class="fa fa-facebook facebook"></i></a>
            <a href="{% url 'socialauth_begin' 'twitter' %}"><i class="fa fa-twitter twitter"></i></a>
            <a href="{% url 'socialauth_begin' 'google-oauth2' %}"><i class="fa fa-google-plus google-plus"></i></a>
          </div>
          <!-- Login and Register link -->
          <span class="lr"><a href="#login" role="button" data-toggle="modal">Войдите</a>
          или <a href="#register" role="button" data-toggle="modal">Зарегистрируйтесь</a></span>
        </div>
        {% else %}
        {% user_profile request.user %}
          <ul class="nav nav-pills pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background: #eee !important;">
                <i class="fa fa-user"></i> 
                {{ request.user.username }} 
                {% if profile.news_count %}
                <span class="badge badge-success">{{ profile.news_count }}</span>
                {% endif %}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'profile_edit' %}"><i class="fa fa-user"></i> Редактировать профиль</a></li>
                <li>
                  <a href="{% url 'profile_notifications' %}">
                    <i class="fa fa-refresh"></i> Обновления
                    {% if profile.new_notification_count %}
                    <span class="badge badge-success pull-right">{{ profile.new_notification_count }}</span>
                    {% endif %}
                  </a>
                </li>
                <li>
                  <a href="{% url 'profile_scores' %}" id="menu_scores">
                    <i class="fa fa-money"></i> Мои баллы 
                    {% if profile.new_scores_charges %}
                    <span class="badge badge-success pull-right">
                      +{{ profile.new_scores_sum }} ({{ profile.new_scores_charges }})
                    </span>
                    {% endif %}
                  </a>
                </li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Выйти</a></li>
                <li class="dropdown-submenu">
                  <a href="#" data-toggle="dropdown"><i class="fa fa-question"></i> Обучение</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'home' %}#tour">Основное</a></li>
                    <li><a href="{% url 'qa_create' %}#tour">Вопросы</a></li>
                    <li><a href="{% url 'post_create' %}#tour">Статьи</a></li>
                    <li><a href="{% url 'forum_home' %}#tour">Форум</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          {% if request.user.is_superuser %}
          <div class="clearfix"></div>
          {% admin_menu %}
          {% endif %}
        {% if request.user.is_superuser and request.session.admin_message %}
        <div class="alert alert-default">{{ request.session.admin_message }}</div>
        {% endif %}
        {% endif %}
      </div>
      
    </div>
  </div>
</header>
<!--/ Header ends -->

<!-- Navigation -->
<div class="navbar bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">

        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-question-circle"></i> О проекте <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'page' 'rules' %}" id="menu_rules">Правила</a></li>
            <li><a href="{% url 'page' 'scoring' %}" id="menu_scroing">Таблица баллов</a></li>
            <li><a href="{% url 'feedback' %}">Обратная связь</a></li>

            {% if request.user.is_superuser %}
            <li class="dropdown-submenu">
              <a href="#" data-toggle="dropdown"><i class="fa fa-question"></i> Обучение</a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'home' %}#tour">Основное</a></li>
                <li><a href="{% url 'qa_create' %}#tour">Вопросы</a></li>
                <li><a href="{% url 'post_create' %}#tour">Статьи</a></li>
                <li><a href="{% url 'forum_home' %}#tour">Форум</a></li>
              </ul>
            </li>
            {% endif %}

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-gift"></i> Призы <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'prizes' %}" id="menu_prizes">Наборы призов</a></li>
            {#<li><a href="{% url 'winners' %}">Призеры</a></li>#}
            <li><a href="{% url 'users' %}" id="menu_users">Рейтинг пользователей</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu_post">
            <i class="fa fa-file-text"></i> Посты <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'post_create' %}"><i class="fa fa-edit"></i> Написать пост</a></li>
              <li><a href="{% url 'profile_posts' %}"><i class="fa fa-list"></i> Мои посты</a></li>
              <li><a href="{% url 'profile_liked_posts' %}"><i class="fa fa-thumbs-up"></i> Избранное</a></li>
              <li role="separator" class="divider"></li>
            {% endif %}
            <li><a href="{% url 'post_list' %}">Новые</a></li>
            <li><a href="{% url 'post_list_top' %}">Лучшие за неделю</a></li>
            <li role="separator" class="divider"></li>
            {% post_categories %}
            {% for c in categories %}
            <li><a href="{% url 'post_category' c.slug %}">{{ c.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu_forum">
            <i class="fa fa-comments"></i> Форум <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% topics %}
            {% for topic in topics %}
            <li><a href="{% url 'forum_topic' topic.id topic.slug %}">{{ topic.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu_qa">
            <i class="fa fa-question"></i> Вопросы и Ответы <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'qa_create' %}"><i class="fa fa-edit"></i> Задать вопрос</a></li>
              <li><a href="{% url 'profile_questions' %}"><i class="fa fa-list"></i> Мои вопросы</a></li>
              <li><a href="{% url 'profile_subs_questions' %}"><i class="fa fa-thumbs-up"></i> Избранные</a></li>
              <li role="separator" class="divider"></li>
            {% endif %}
            <li><a href="{% url 'qa_list' %}">Новые</a></li>
            <li><a href="{% url 'qa_list_without_answer' %}">Без ответа</a></li>
          </ul>
        </li>
      </ul>

      <div class="col-sm-3 col-md-3 pull-right">
        <form action="{% url 'search' %}">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Поиск" name="q">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>

    </nav>
  </div>
</div>
<!--/ Navigation End -->