{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}

{% block title %}Конкурс FUEL4BULL - делись знаниями и выигрывай призы от PUREPROTEIN!{% endblock %}

{% block content %}

<!-- intro -->
{% if request.user.is_authenticated %}
{% user_profile request.user %}
<script src="{% static 'bt/js/main-tour.js' %}"></script>
<script type="text/javascript">
function startTour() {
    tour.restart()
}
introFunc('{{ profile.looked_intro_menu }}');
</script>
{% include 'blog/profile/modal_tour.html' with text='Хотите пройти знакомство с сайтом?' %}
{% endif %}
<!-- intro -->

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Блог</h2>
        <h4>читайте пишите выигрывайте</h4>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-8">
        
        <img src="{% static 'bt/img/banner.gif' %}" class="img-responsive">
        <hr>
        <br>
        {% include 'blog/post/list.html' with posts=posts %}
        {% include 'blog/pagination.html' with list=posts %}

      </div>

      <div class="col-md-4">
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Widget -->
          <div class="widget">
            <h4>Случайные посты</h4>
            <ul>
              {% for post in random_posts %}
              <li>
                <a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>                      
        </div>                                                
      </div>

    </div>
  </div>
</div>
{% endblock %}