<div class="fixed"><ul>
  <li class="first">
    <a href="/post/new/">Написать пост</a>
  </li>
  <li>
    <span>Как это работает?</span>
    <ul class="blue menu_level_1">
      <li class="first">
        <a href="/page/how_it_work/posts/">Статьи</a>
      </li><div class="fixed"><ul>
  <li class="first">
    <a href="/post/new/">Написать пост</a>
  </li>
  <li>
    <span>Как это работает?</span>
    <ul class="blue menu_level_1">
      <li class="first">
        <a href="/page/how_it_work/posts/">Статьи</a>
      </li>
      <li>
        <a href="/page/how_it_work/images/">Картинки</a>
      </li>
      <li>
        <a href="/page/how_it_work/likes/">Лайки</a>
      </li>
      <li>
        <a href="/page/how_it_work/questions/">Вопросы и ответы</a>
      </li>
      <li>
        <a href="/page/how_it_work/links/">Ссылки</a>
      </li>
      <li>
        <a href="/page/how_it_work/comments/">Комментарии</a>
      </li>
      <li>
        <a href="/page/how_it_work/moderation/">Модерация</a>
      </li>
      <li>
        <a href="/page/how_it_work/scores/">Таблица баллов</a>
      </li>
      <li class="last">
        <a href="/page/how_it_work/conditions/">Условия</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/posts/">Посты</a>
  </li>
  <li>
    <a href="/qa/">Вопросы и ответы</a>
  </li>
  <li>
    <a href="/users/rating/">Рейтинг</a>
  </li>
  <li>
    <a href="/page/prizes//">Призы</a>
  </li>
  <li class="last">
    <a href="/feedback/">Обратная связь</a>
  </li>
</ul></div>
      <li>
        <a href="/page/how_it_work/images/">Картинки</a>
      </li>
      <li>
        <a href="/page/how_it_work/likes/">Лайки</a>
      </li>
      <li>
        <a href="/page/how_it_work/questions/">Вопросы и ответы</a>
      </li>
      <li>
        <a href="/page/how_it_work/links/">Ссылки</a>
      </li>
      <li>
        <a href="/page/how_it_work/comments/">Комментарии</a>
      </li>
      <li>
        <a href="/page/how_it_work/moderation/">Модерация</a>
      </li>
      <li>
        <a href="/page/how_it_work/scores/">Таблица баллов</a>
      </li>
      <li class="last">
        <a href="/page/how_it_work/conditions/">Условия</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/posts/">Посты</a>
  </li>
  <li>
    <a href="/qa/">Вопросы и ответы</a>
  </li>
  <li>
    <a href="/users/rating/">Рейтинг</a>
  </li>
  <li>
    <a href="/page/prizes/">Призы</a>
  </li>
  <li class="last">
    <a href="/feedback/">Обратная связь</a>
  </li>
</ul>
</div>