{% extends 'blog/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ title }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      {% autoescape off %}
      {{ content|safe }}
      {% endautoescape %}
    </div>
  </div>
</div>
{% endblock %}