{% if list.paginator.num_pages > 1 %}
<!-- Pagination -->
<div class="paging">
    {% if list.has_previous %}
        {% if 1 not in list.paginator.page_range %}
        <a href="?{{queries.urlencode}}&amp;page=1"><<</a>
        {% endif %}
        {% if list.previous_page_number not in list.paginator.page_range %}
        <a href="?{{queries.urlencode}}&amp;page={{ list.previous_page_number }}"><</a>
        {% endif %}
    {% endif %}

    {% for i in list.paginator.page_range %}
    {% if i <= list.number|add:'+3' and i >= list.number|add:'-3' %}
        {% if list.number == i %} 
        <span class="current">{{i}}</span>
        {% else %}
        <a href="?{{queries.urlencode}}&amp;page={{ i }}">{{i}}</a>
        {% endif %}
    {% endif %}
    {% endfor %}

    {% if list.has_next %}
        {% if list.next_page_number not in list.paginator.page_range %}
        <a href="?{{queries.urlencode}}&amp;page={{ list.next_page_number }}">></a>
        {% endif %}
        {% if list.paginator.num_pages not in list.paginator.page_range %}
        <a href="?{{queries.urlencode}}&amp;page={{ list.paginator.num_pages }}">>></a>
        {% endif %}
    {% endif %}
    <div class="clearfix"></div>
</div>
{% endif %}