{% extends 'blog/base.html' %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
<!-- Page heading starts -->

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Поиск</h2>
        <h4>найденные публикации</h4>
      </div>
    </div>
  </div>
</div>

<!-- Page Heading ends -->

<!-- Page content starts -->

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        
        <div class="well">
          <h4>Поиск</h4>
          <form class="form-inline" role="form" action="{% url 'search' %}">
            <div class="form-group">
              <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Найти</button>
          
            {% if error %}
            <br>
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
          </form>
        </div>

        {% if posts %} 
        {% include 'blog/post/list.html' %}
        {% include 'blog/pagination.html' with list=posts %}
        {% else %}
        <i>нет результатов</i>
        {% endif %}

      </div>

    </div>
  </div>
</div>
{% endblock %}