{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ topic.title }}</h2>
        <h4>под топики</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      {% breadcrumbs_block %}

      <ul>
        {% for t in topic.children.all %}
        <li><a href="{% url 'topic' t.id t.title %}">{{ t.title }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
{% endblock %}