{% load thumbnail %}
<div class="col-md-4 col-sm-4">
  <div class="ceo">
     <!-- Staff name with designation. Designation should be enclosed inside <span> tag. -->
     <h4 class="title">{{ user.username }} 
     	{% if scores %}
     	<span class="color">{{ scores }} баллов</span>
     	{% endif %}
     </h4>
     <!-- Staff Photo -->
     <a href="{% url 'user' user.id %}">
     	{% thumbnail profile.avatar_image "180x180" crop="center" as im %}
            <img src="{{ im.url }}" class="img-circle" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
     </a>
     <!-- Social media links -->
     <!-- <div class="padd social">
        <a href="#"><i class="fa fa-facebook facebook"></i></a> 
        <a href="#"><i class="fa fa-twitter twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin linkedin"></i></a> 
        <a href="#"><i class="fa fa-google-plus google-plus"></i></a>
     </div> -->
     <!-- Small para -->
     <p>{{ profile.about }}</p>
  </div>
  <div class="bor"></div>
</div>