{% extends 'blog/base.html' %}

{% block title %}Призеры{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Призеры</h2>
      </div>
    </div>
  </div>
</div>

<div class="content about-one">
  <div class="container">
    <div class="row">
      {% autoescape off %}
      {{ page|safe }}
      {% endautoescape %}
    </div>
  </div>
</div>
{% endblock %}