{% load humanize %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/stay-on-top.js' %}"></script>
{% endblock %}

<!-- SIDEBAR SHOP CARD -->
<div id="product-card" class="col-lg-4 col-md-5 col-sm-12 clearfix well stay-on-top">
  <h2>{{ shop.name }} {% include 'main/rating.html' with rating=shop.rating large=1 %}</h2>

  {% if shop.contact_info %}
  <h3>Контакты</h3>
  <div>
  {% autoescape off %}{{ shop.contact_info }}{% endautoescape %}
  </div>
  {% endif %}

  <div class="pull-right">
    <a class="btn btn-default" href="{{ shop.site }}" target="_blank">В магазин</a>
  </div>

  {% include 'main/share_buttons.html' %}

</div>