{% extends "main/base.html" %}

{% block description %}Интернет магазин {{ shop.name }}{% endblock %}
{% block keywords %}Интернет магазин {{ shop.name }} купить спортпит спортивное питание{% endblock %}
{% block title %}Интернет магазин {{ shop.name }}{% endblock %}

{% block content %}
<style>
.cat {margin-top: 2px;}
</style>

{% include 'main/shop/card.html' %}


<div class="col-lg-8 col-md-7 col-sm-12">

  {% include 'main/shop/tabs.html' with tab='categories' %}
  
  <div class="tab-content" >
    <div class="col-md-12">
    {% for c in categories %}
    <a class="btn btn-default cat btn-xs" href="{{ c.url }}">{{ c.name }}</a>
    {% endfor %}
    </div>
  
    {% if best_products %}
    <div class="col-md-12">
    <h3>Лучшие предложения</h3>
    {% for product in best_products %}
    {% include 'main/product/block.html' with hash=product.best_deal.id %}
    {% endfor %}
    </div>
    {% endif %}

    {% if items %}
    <div class="col-md-12">
    <h3>Товары</h3>
    {% for item in items %}
    {% include 'main/product/block.html' with product=item.product hash=item.id %}
    {% endfor %}
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}