{% extends "main/base.html" %}

{% block content %}
<h1>Список магазинов</h1>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>название</th>
        <th>оценка</th>
        <th>ссылка</th>
      </thead>
      {% for shop in shops %}
      <tr>
        <td>#{{ shops.start_index|add:forloop.counter0 }}</td>
        <td>
          <a href="{% url 'shop' shop.id shop.slug %}">{{ shop.name }}</a>
        </td>
        <td>
          {% include 'main/rating.html' with rating=shop.rating %}
        </td>
        <td><a class="btn btn-default" href="{{ shop.site }}" target="_blank">В магазин</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% include "main/pagination.html" with list=shops %}

{% endblock %}