{% extends "main/base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/rating-bull.js' %}"></script>
{% endblock %}

{% block content %}

{% include 'main/shop/card.html' %}
<div class="col-lg-8 col-md-7 col-sm-12">
  
  {% include 'main/shop/tabs.html' with tab='reviews' %}

  <!-- TAB REVIEWS -->
  <div class="tab-content" id="reviews">
    <!-- SORT BUTTONS -->
    <form method="get">

    <div class="col-md-12 sort-buttons clearfix">
    {% include 'main/sort_buttons.html' %}
    </div>

    </form>

    {% for review in reviews %}
    <div class="col-md-12">
      <div class="col-md-6 rating clearfix pull-left">
        <h4>{{ review.user.username }}</h4>
        {% include 'main/rating.html' with rating=review.rating %}
      </div>
      <!-- REVIEW TEXT -->
      <div class="col-md-12 col-sm-12 reveiew-text">
        <p>{{ review.comment }}</p>
        <p class="text-right grey">{{ review.created|date:"M d, Y" }}</p>
      </div>
    </div>
    {% endfor %}

    <div class="col-md-12" style="text-align:center;">
      {% include 'main/pagination.html' with list=reviews %}
    </div>

    {% if form %}
    <form action="" method="post">
      {% csrf_token %}
      <!-- RATING -->
      <div>{{ form.rating.errors }}</div>
      <div class="col-xs-12" id="tab-reviews-rating">
        <label class="text-right block pull-left">Оценка</label>

        {{ form.rating.as_hidden }}
        <div class="rating rating-rev large clearfix pull-left">
          <span class="bull-grey bull-color bull"></span>
          <span class="bull-grey bull"></span>
          <span class="bull-grey bull"></span>
          <span class="bull-grey bull"></span>
          <span class="bull-grey bull"></span>
        </div>
      </div>

      <!-- REVIEW TEXT -->
      <div>{{ form.comment.errors }}</div>
      <div class="col-xs-12" id="tab-reviews-review">
        <label class="text-right block pull-left">Отзыв</label>
        {{ form.comment }}
      </div>
      <div class="col-xs-2">
        <input type="submit" class="btn btn-default" value="Оставить отзыв">
      </div>
    </form>
    {% endif %}

  </div>
</div>
{% endblock %}