<!-- TAB CONTROLS -->
<ul class="nav nav-tabs" id="product-tabs">
  <li {% if tab = 'categories' %}class="active"{% endif %}>
    <a href="{% url 'shop' shop.id shop.slug %}">
      Ассортимент 
    </a>
  </li>
  <li {% if tab = 'reviews' %}class="active"{% endif %}>
    <a href="{% url 'shop_reviews' shop.id shop.slug %}">
      Отзывы 
      <span>{{ shop.review_count }}</span>
    </a>
  </li>
</ul>