{% if request.user.is_superuser and request.session.show_admin_panel %}
<div class="alert-danger admin-panel" id="post-admin-{{ post.id }}">
	<i class="fa fa-star"></i>
	<a class="btn btn-xs btn-default refresh" href="{% url 'admin_post_unique_check' post.id %}">
		<i class="fa fa-refresh"></i>unique={{ post.uniqueness }}
	</a>
	<a class="btn btn-xs btn-default" href="javascript:if (confirm('Точно удалить?')) window.location.href='{% url 'post_delete' post.id %}';" title="удалить">
	 	<i class="fa fa-close"></i>
	</a>
	<a class="btn btn-xs btn-default" href="{% url 'post_edit' post.id %}" title="редактировать">
	 	<i class="fa fa-pencil"></i>
	</a>
	|
	
	{% if post.is_published == True %}
		Опубликован <i class="fa fa-check-circle"></i>
	{% elif post.is_published == False %}
		<span data-toggle="popover" data-trigger='hover' title="Причина отказа" data-content="{{ post.refusal_reason }}">
			Не опубликован <i class="fa fa-close"></i>
		</span>
	{% elif post.is_published == None %}
		<span data-toggle="popover" data-trigger='hover' title="Причина отказа" data-content="{{ post.refusal_reason }}">
			На модерации <i class="fa fa-question-circle"></i>
		</span>
	{% endif %}
	|
	Модерация:
	{% if post.is_moderated == None %}
		нет
	{% elif post.is_moderated == True %}
		<i class="fa fa-check-circle" title="{{ post.moderated_at }}"></i>
	{% elif post.is_moderated == False %}
		<i class="fa fa-close" title="{{ post.moderated_at }}"></i>
	{% endif %}
	<a class="btn btn-xs btn-default refresh" href="{% url 'admin_post_accept' post.id %}">
		<i class="fa fa-check"></i>
	</a>
	<a class="btn btn-xs btn-default" href="#moderate_modal" role="button" data-toggle="modal" onclick="$('#moderate_id').val({{ post.id }});$('#moderate_message').val('')">
	{#<a class="btn btn-xs btn-default refresh" href="{% url 'admin_post_deny' post.id %}">#}
		<i class="fa fa-close"></i>
	</a>
	|
	Баллы:
	{{ post.scores }}
</div>
{% endif %}