{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<!-- Page heading starts -->

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ title }}</h2>
      </div>
    </div>
  </div>
</div>

<!-- Page Heading ends -->

<!-- Page content starts -->

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        
        {% breadcrumbs_block %}

        {% if product %}
        {% include 'blog/post/product.html' %}
        {% endif %}

        {% include 'blog/post/list.html' with posts=posts %}
        {% include 'blog/pagination.html' with list=posts %}

      </div>

    </div>
  </div>
</div>
{% endblock %}