{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load staticfiles %}

{% block title %}Создание поста{% endblock %}

{% block scripts %}
<!-- Select2 -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>

<script>
function reset_actions() {
	$('#theme select').select2();
	$('#theme select').change(function(){
		var value = $(this).val();
		$('#id_theme').val(value);
		$.ajax({
			url: "{% url 'ajax_subtopic_root' %}" + value,
		})
		.done(function( data ) {
			$('#theme').html(data);
			reset_actions();
		});
	})
}

$(document).ready(function(){
	reset_actions();
});
</script>
{{ form.media }}

<!-- intro -->
{% if request.user.is_authenticated %}
{% user_profile request.user %}
<script src="{% static 'bt/js/post-tour.js' %}"></script>
<script type="text/javascript">
function startTour() {
    tour.restart()
}
introFunc('{{ profile.looked_intro_post }}');
</script>
{% include 'blog/profile/modal_tour.html' with text='Хотите узнать - как получать баллы за написание статей?' %}
{% endif %}
<!-- intro -->

{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Создание поста</h2>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">

		{% breadcrumbs_block %}

		<form action=""  method="post" class="form_block" enctype="multipart/form-data">

			{% csrf_token %}

			{% include 'blog/post/form.html' %}

			<button type="submit" class="btn btn-default" id="pub_button">Опубликовать</button>

		</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}