{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Редактирование поста {{ post.title }}{% endblock %}

{% block scripts %}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ post.title }}</h2>
        <h4>редактирование поста</h4>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">

        {% breadcrumbs_block %}

    		<form action=""  method="post" class="form_block">

    		{% csrf_token %}

        {% if post.is_published == False %}
        <div class="alert alert-danger">
          черновик
          {% if post.refusal_reason %}
          причина отказа: {{ post.refusal_reason }}
          {% endif %}
        </div>
        {% elif post.is_published == None %}
        <div class="alert alert-danger">на модерации</div>
        {% endif %}

    		{% include 'blog/post/form.html' %}

        {% if post.is_published == False %}
        <button type="submit" name="publicate" class="btn btn-default">Опубликовать</button>
        {% endif %}
        <button type="submit" class="btn btn-default">Сохранить</button>

        </form>
      </div>
    
    </div>
  </div>
</div>
{% endblock %}