{% load widget_tweaks %}
{% load staticfiles %}

<div class="form-group" id="theme_group">
	<label>Тема поста</label>
	
	<span id="theme">
	{% for field in theme_selector %}
	{{ field }}
	{% endfor %}
	</span>

	{{ form.theme }}
	{% if form.theme.errors %}
	<div class="alert alert-danger">{{ form.theme.errors }}</div>
	{% endif %}
</div>

<div class="form-group" id="title_group">
	<label>Заголовок</label>
	{{ form.title|attr:"class:form-control"|attr:"autocomplete:off"|attr:"minlength:5"|attr:"data-role:counter" }}
	{% if form.title.errors %}
	<div class="alert alert-danger">{{ form.title.errors }}</div>
	{% endif %}
</div>

<div class="form-group" id="description_group">
	<label>Краткое описание</label>
	{{ form.description|attr:"class:form-control"|attr:"autocomplete:off"|attr:"minlength:50"|attr:"data-role:counter" }}
	{% if form.description.errors %}
	<div class="alert alert-danger">{{ form.description.errors }}</div>
	{% endif %}
</div>

<div class="form-group" id="content_group">
	<label>Содержание поста</label>
	{{ form.content|safe }}
	{% if form.content.errors %}
	<div class="alert alert-danger">{{ form.content.errors }}</div>
	{% endif %}
</div>
<div id="score_status"></div>

<div class="form-group" id="external_link_group_2">
	<div class="checkbox">
		<input type="checkbox" {% if form.external_link.value %}checked="checked"{% endif %} onclick="$(this).prop('checked')?$('#external_link_group').show():$('#external_link_group').hide()">
		Материал со стороннего сайта
	</div>
</div>
<div class="form-group" {% if not form.external_link.value %}style="display:none;"{% endif %} id="external_link_group">
	<label>Ссылка на оригинальную статью</label>
	{{ form.external_link|attr:"class:form-control" }}
	<p class="help-block">
	Например http://www.example.com/article.html
	</p>
	{% if form.external_link.errors %}
	<div class="alert alert-danger">{{ form.external_link.errors }}</div>
	{% endif %}
</div>

{% if form.captcha %}
<div class="form-group" id="title_group">
	<label>Каптча</label>
	<button class='js-captcha-refresh'><i class="fa fa-refresh"></i></button>
	{{ form.captcha }}
	{% if form.captcha.errors %}
	<div class="alert alert-danger">{{ form.captcha.errors }}</div>
	{% endif %}
</div>
{% endif %}

<script src="{% static 'bt/js/post-form.js' %}"></script>