{% load blog_tags %}
<i class="fa fa-calendar"></i> {{ post.created_at|my_naturaltime }}
<i class="fa fa-user"></i> <a href="{% url 'user' post.user.id %}">{{ post.user.username }}</a>

<div class="pull-right">
  <i class="fa fa-thumbs-o-up"></i> {{ post.like_count }}
  <i class="fa fa-eye"></i> {{ post.view_count }}
  <i class="fa fa-comment"></i> {{ post.comment_count }} 
</div>

{% if request.user.id == post.user.id %}
<div class="pull-right"> 
  <a href="javascript:if (confirm('Точно удалить?')) window.location.href='{% url 'post_delete' post.id %}';" title="удалить" data-toggle="tooltip">
    <i class="fa fa-close"></i>
  </a>
  <a href="{% url 'post_edit' post.id %}" title="редактировать" data-toggle="tooltip">
    <i class="fa fa-pencil"></i>
  </a>
</div>
{% endif %}
