{% if post.object_type == 0 %}
  <a href="{% url 'post_category' 'descriptions' %}">
    Описания спортивного питания
  </a> /
  <a href="{% url 'post_category_id' 'descriptions' post.object_id %}">
    {{ post.object.brand.name }} {{ post.object.name }}
  </a>
{% elif post.object_type == 1 %}
	<a href="{% url 'post_category' 'reviews' %}">
    Отзывы о спортивном питании
  </a> /
  <a href="{% url 'post_category_id' 'reviews' post.object_id %}">
    {{ post.object.brand.name }} {{ post.object.name }}
  </a>
{% elif post.object_type == 2 %}
  {% for topic in post.object.get_ancestors %}
    <a href="{% url 'post_category' topic.slug %}">{{ topic.title }}</a> /
  {% endfor %}
  <a href="{% url 'post_category' post.object.slug %}">{{ post.object }}</a>
{% endif %}