{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}
{% if mode == 'new' %}Новые публикации
{% elif mode == 'top' %}Лучшие за неделю
{% endif %}
{% endblock %}

{% block content %}
<!-- Page heading starts -->

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>
        {% if mode == 'new' %}Новые публикации
        {% elif mode == 'top' %}Лучшие за неделю
        {% endif %}
        </h2>
      </div>
    </div>
  </div>
</div>

<!-- Page Heading ends -->

<!-- Page content starts -->

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        
        {% if request.user.is_authenticated %}
          <div class="pull-right">
            <a class="btn btn-success" href="{% url 'post_create' %}">Написать пост</a>
          </div>
        {% endif %}

        <ul class="nav nav-tabs">
          <li{% if mode == 'new' %} class="active"{%endif%}>
            <a href="{% url 'post_list' %}" >Новые</a>
          </li>
          <li{% if mode == 'top' %} class="active"{%endif%}>
            <a href="{% url 'post_list_top' %}">Лучшие за неделю</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">
          
          {% include 'blog/post/list.html' with posts=posts %}
          {% include 'blog/pagination.html' with list=posts %}
        
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
{% endblock %}