{% load thumbnail %}
{% load blog_tags %}
<div class="entry">
  <h2><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></h2>

  <i class="fa fa-folder-open"></i> {% include 'blog/post/meta_theme.html' %}
  
  {% include 'blog/post/admin.html' %}
  
  <!-- Meta details -->
  <div class="meta">
  {% include 'blog/post/meta.html' %}
  </div>

 
  {% if post.preview_image %}
    <!-- Thumbnail -->
    <div class="bthumb3">
      <a href="{% url 'post' post.id post.slug %}">
        {% thumbnail post.preview "x148" crop="center" as im %}
        <img src="{{ im.url }}" class="img-responsive">
        {% endthumbnail %}
      </a>
    </div>
  {% endif %}

  <p>{{ post.description }}</p>
  <div class="clearfix"></div>
  <div class="button pull-right"><a href="{% url 'post' post.id post.slug %}">Прочитать полностью</a></div>
  <div class="clearfix"></div>
</div>