{% load thumbnail %}
{% load subdomainurls %}
<div class="row well">
  <div class="title">
    <h4>{{ product.brand.name }} <b>{{ product.name }}</b></h4>
  </div>
  {% for prod in product.group_products %}
  <div class="col-md-4">
    {% thumbnail prod.image "100x100" crop="center" as im %}
    <div style="text-align:center">
      <img src="{{ im.url }}"><br>
    </div>
    {% endthumbnail %}
    {{ prod.packing }}<br>
    
    <div>
    {% if prod.min_price %}
    от {{ prod.min_price }} <i class="fa fa-rub"></i><br>
    {% else %}
    <i>нет в наличии</i>
    {% endif %}
    </div>
    <div class="clearfix"></div>

    <a href="{% url 'product' prod.id prod.slug subdomain='www' %}" target="_blank">
    Посмотреть цены ({{ prod.item_count }})
    </a>
  </div>
  {% endfor %}
</div>