{% if length < 100 %}<span style="color:red">Символов: {{ length }}, минимум 100</span>
{% else %}Символов: {{ length }}
{% endif %}
<br>
Изображения: {% if image_count %}{{ image_count }}{% else %}-{% endif %}<br>
Видео: {% if video_count %}{{ video_count }}{% else %}-{% endif %}<br>
Баллы: {% if scores %}{{ scores }}{% else %}-{% endif %}<br>