{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{ post.title }}"/>
<meta property="og:description" content="{{ post.description }}"/>
{% endblock %}

{% block scripts %}
<style>
.comment .answer {
visibility:hidden;
}
.comment:hover .answer {
visibility:visible;
}
</style>
<!-- Owl Carousel -->
<script src="{% static 'bt/js/owl.carousel.min.js' %}"></script> 
<link rel="stylesheet" href="{% static 'bt/css/owl.carousel.css' %}"> 

<script src="{% static 'bt/js/post-show.js' %}"></script> 
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "416b88d4-4764-46e9-aa4a-1ef406b38a9c", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ post.title }}</h1>
        {% if post.is_published == False %}
        <h3>[черновик]</h3>
        {% elif post.is_published == None %}
        <h3>[на модерации]</h3>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="content blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
          <li><a href="{% url 'post_list' %}">Посты</a></li>
          {% if post.object_type == 0 %}
          <li><a href="{% url 'post_category' 'descriptions' %}">Описания спортивного питания</a></li>
          <li><a href="{% url 'post_category_id' 'descriptions' post.object_id %}">{{ post.object.brand.name }} {{ post.object.name }}</a></li>
          {% elif post.object_type == 1 %}
          <li><a href="{% url 'post_category' 'reviews' %}">Отзывы о спортивном питании</a></li>
          <li><a href="{% url 'post_category_id' 'reviews' post.object_id %}">{{ post.object.brand.name }} {{ post.object.name }}</a></li>
          {% elif post.object_type == 2 %}
            {% for topic in post.object.get_ancestors %}
            <li>
              <a href="{% url 'post_category' topic.slug %}">{{ topic.title }}</a>
            </li>
            {% endfor %}
            <li>
              <a href="{% url 'post_category' post.object.slug %}">{{ post.object }}</a>
            </li>
          {% endif %}
          <li class="active">{{ post.title }}</li>
        </ul>

        <div class="entry">
          {% include 'blog/post/admin.html' %}
          <div class="meta clearfix">
            {% include 'blog/post/meta.html' %}
          </div>

          {% if post.object_type == 0 or post.object_type == 1 %}
          {% include 'blog/post/product.html' with product=post.object %}
          {% endif %}

          {% autoescape off %}
          <div class="content break-word">{{ post.content }}</div>
          {% endautoescape %}
          
          {% if post.external_link %}
          <i>Источник: <a href="{{ post.external_link }}">{{ post.external_link }}</a></i>
          {% endif %}

        </div>

        <!-- Share block -->
        <div class="well">
           <!-- Social media icons -->
           <div class="social pull-left">
              <h5>Sharing is Sexy: </h5>
              <a href="#"><i class="st_facebook_custom fa fa-facebook facebook" title="Facebook"></i></a>
              <a href="#"><i class="st_twitter_custom fa fa-twitter twitter" title="Twitter"></i></a>
              <a href="#"><i class="st_vkontakte_custom fa fa-vk vk" title="Вконтакте"></i></a>
              <a href="#"><i class="st_odnoklassniki_custom fa fa-user odnoklassniki" title="Одноклассники"></i></a>
              <a href="#"><i class="st_googleplus_custom fa fa-google-plus google-plus" title="Google +"></i></a>
           </div>
           <!-- Tags -->
           <div class="pull-right">

            <button class="btn btn-default" {% if has_like or not request.user.is_authenticated %}disabled="disabled"{% else %}onclick="like_post({{ post.id }}, this);"{% endif %}>
            Мне нравится <i class="fa fa-thumbs-o-up"></i>
            <span class="post_{{ post.id }}_like_count">{{ post.like_count }}</span>
          </button>
          
          {% if request.user.is_authenticated and not has_complaint %}
          <button class="btn btn-default" title="Оставить жалобу" onclick="complaint_post({{ post.id }}, this);">
            <i class="fa fa-times"></i>
          </button>
          {% endif %}

           </div>
           <div class="clearfix"></div>
        </div>

        <!-- Comments block -->
        <a name="comments"></a>
        <div class="comments well">
         <!-- Comment title -->
            <div class="title"><h4>{{ post.comment_count }} комментариев</h4></div>
            
            <ul class="comment-list">
              {% for comment in comments %}
              <li class="comment">
                {% user_profile comment.user %}
                <a class="pull-left" href="{% url 'user' comment.user.id %}">
                  <!-- Avatar -->
                  {% thumbnail profile.avatar_image "60x60" crop="center" as im %}
                    <img class="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </a>
                
                <!-- Author -->
                <div class="comment-author">
                  <a href="{% url 'user' comment.user.id %}">{{ comment.user.username }}</a>
                  {% if form and request.user.is_authenticated and comment.user_id != request.user.id %}
                  <span class="answer"> - <a href="javascript:reply('{{ comment.user.username }}');">ответить</a></span>
                  {% endif %}
                </div>
                  
                <!-- Comment date -->
                <div class="cmeta">
                  <a name="{{ comment.id }}">#{{ comment.id }}</a>
                  {{ comment.created_at|my_naturaltime }}
                </div>
  
                <!-- Para -->
                <p class="break-word">
                {% autoescape off %}
                {{ comment.content }}
                {% endautoescape %}
                </p>
                <div class="clearfix"></div>
              </li>
              {% endfor %}
            </ul>
            {% include 'blog/pagination.html' with list=comments %}
        </div>


        {% if form %}
        {% load widget_tweaks %}
        <!-- Form Comment -->
        <div class="respond well">
        <!-- Form title -->
         <div class="title"><h4>Оставьте комментарий</h4></div>
         <!-- Comment form -->
         <div class="form">
           <form class="form-horizontal" method="post">
               {% csrf_token %}
               <div class="form-group">
                 <label class="control-label col-md-3" for="comment">Комментарий</label>
                 <div class="col-md-6">
                  {{ form.comment|attr:"class:form-control"|attr:"rows:3" }}
                  <p class="help-block">{{ form.comment.errors }}</p>
                 </div>
               </div>
               <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                 <button type="submit" class="btn btn-default">Отправить</button>
                 <button type="reset" class="btn btn-default">Сбросить</button>
                </div>
               </div>
           </form>
         </div>
        </div>
        {% endif %}

      </div>
      
      <div class="col-md-4">
        <div class="sidebar">
          <div class="widget">
            <h4>Так же в этой категории</h4>
            <ul>
              {% for post in recent_posts %}
              <li>
                <a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Owl Carousel Starts -->
  <div class="container">
  
    <div class="rp">
      <!-- Recent News Starts -->
      <h4 class="title">Случайные посты</h4>
      <div class="recent-news block">
        <!-- Recent Item -->
        <div class="recent-item">
          <div class="custom-nav">
            <a class="prev"><i class="fa fa-chevron-left br-lblue"></i></a>
            <a class="next"><i class="fa fa-chevron-right br-lblue"></i></a>
          </div>
          <div id="owl-recent" class="owl-carousel">
            {% for post in random_posts %}
            <!-- Item -->
            <div class="item">
              {% thumbnail post.preview "x170" crop="center" as im %}
              <a href="{% url 'post' post.id post.slug %}">
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="img-responsive" />
              </a>
              {% endthumbnail %}
              <!-- Heading -->
              <h4><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></h4>
              <div class="clearfix"></div>
              <!-- Paragraph -->
              <p>{{ post.description }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <!-- Recent News Ends -->
    </div>
    
  </div>
  <!-- Owl Carousel Ends -->

</div>

{% endblock %}