{% load humanize %}
<div class="col-lg-4 col-md-6 col-sm-12 offer-block">
  <div class="img">
    <a href="{% url 'product' product.slug %}">
      <img src="{{ product.image }}">
    </a>
  </div>
  <div class="name" title="{{ product.name }} {{ product.packing }}">
    <a href="{% url 'product' product.slug %}">{{ product.name }} {{ product.packing }}</a>
  </div>
  <div class="price">
  {{ product.offers.0.price|intcomma}} <i class="fa fa-rub"></i>
  {% include 'main/store/add_basket_button.html' with offer=product.offers.0 btn_class='btn-product-item' %}
  </div>
</div>