{% load humanize %}
{% load staticfiles %}


<!-- SIDEBAR PRODUCT CARD -->
<div id="product-card" class="col-lg-5 col-md-6 col-sm-12 clearfix well">
  <h2>{{ product.name }}<div>{{ product.packing }}</div></h2>
  {% include 'main/rating.html' with rating=product.rating large=1 %}
  
  <!-- IMAGE -->
  <div class="col-md-12" style="text-align: center;">
    <img src="{{ product.image }}" class="product_preview-image" alt="">
  </div>

  {% if offers %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <table class="table">
    {% for offer in offers %}
    <tr>
      <td style="font-size:16px;font-style:italic;vertical-align:middle;">
        {{ offer.name }}
      </td>
      <td style="vertical-align:middle;">
        <span style="color:red;font-size:16px;font-weight:bold;">
          {{ offer.real_price|intcomma }} <i class="fa fa-rub"></i>
        </span> 
        {% include 'main/store/add_basket_button.html' with offer=offer %}
      </td>
    </tr>
    {% endfor%}
    </table>
  </div>
  {% endif %}

  {% include 'main/share_buttons.html' %}

</div>