{% extends "pureprotein/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block description %}Самая низкая цена на {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }}{% endblock %}

{% block keywords %}Самая низкая цена на {{ product.category.name }} {{ product.brand.name }} {{ product.name }} {{ product.packing }}{% endblock %}

{% block title %}Купить {{ product.brand.name }} {{ product.name }} {{ product.packing }} по самой низкой цене в Москве{% endblock %}

{% block scripts %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
  $('#tabs').tab();
});
</script>  
{% endblock %}

{% block content %}

{% include 'pureprotein/product/card.html' %}
<!-- PRODUCT LIST -->
<div class="col-lg-7 col-md-6 col-sm-12">
  <div class="col-md-12">
  <h3>С этим покупают</h3>
  {% for product in related_products %}
    {% include 'pureprotein/product/block.html' %}
  {% endfor %}
  </div>

  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
    <li><a href="#ingredients" data-toggle="tab">Состав</a></li>
    <li><a href="#reviews" data-toggle="tab">Отзывы {{ product.review_count }}</a></li>
  </ul>

  <div id="my-tab-content" class="tab-content">
    
    <div class="tab-pane active" id="description">
      {% autoescape off %}
      {{ product.description }}
      {% endautoescape %}
    </div>
    
    <div class="tab-pane" id="ingredients">
      {% autoescape off %}
      {{ product.ingredients }}
      {% endautoescape %}
    </div>

    <div class="tab-pane" id="reviews">
      {% for review in reviews %}
      <div class="col-md-12">
        <div class="col-md-6 rating clearfix pull-left">
          {% if review.fake_username %}
          <h4>{{ review.fake_username }}</h4>
          {% else %}
          <h4>{{ review.user.username }}</h4>
          {% endif %}

          {% include 'main/rating.html' with rating=review.rating %}
        </div>
        <!-- REVIEW TEXT -->
        <div class="col-md-12 col-sm-12 reveiew-text">
          <p>{{ review.comment }}</p>
          <p class="text-right grey">{{ review.created|date:"M d, Y" }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}