<ul class="nav nav-pills pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background: #eee !important;">
      <i class="fa fa-star"></i> ADMIN 
      <span class="badge badge-success">
        {{ admin.count_posts_new|add:admin.count_posts_moderate }}
      </span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'admin_posts' %}">Посты
          <span class="pull-right">
            <span class="badge badge-success">
              {{ admin.count_posts_new }}
            </span>
            <span class="badge badge-success">
              {{ admin.count_posts_moderate }}
            </span>
          </span>
        </a>
      </li>
      <li><a href="{% url 'admin_recalc_scores' %}">Пересчитать баллы</a></li>
      <li>
        {% if request.session.show_admin_panel %}
        <a href="{% url 'admin_hide_panel' %}">Скрыть панель</a>
        {% else %}
        <a href="{% url 'admin_show_panel' %}">Показать панель</a>
        {% endif %}
      </li>
    </ul>
  </li>
</ul>