{% extends 'blog/base.html' %}

{% block title %}Посты{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>АДМИНИСТРАТОР</h2>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li{% if mode == 'new' %} class="active"{%endif%}>
            <a href="{% url 'admin_posts' %}?new">Новые ({{ admin.count_posts_new }})</a>
          </li>
          <li{% if mode == 'moderate' %} class="active"{%endif%}>
            <a href="{% url 'admin_posts' %}?moderate">На модерации ({{ admin.count_posts_moderate }})</a>
          </li>
          <li{% if mode == 'pub' %} class="active"{%endif%}>
            <a href="{% url 'admin_posts' %}?pub">Опубликованные ({{ admin.count_posts_pub }})</a>
          </li>
          <li{% if mode == 'draft' %} class="active"{%endif%}>
            <a href="{% url 'admin_posts' %}?draft">Черновики ({{ admin.count_posts_draft }})</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">
          {% include 'blog/post/list.html' with posts=posts %}
          {% include 'blog/pagination.html' with list=posts %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}