{% if request.user.is_superuser %}
<!-- Modal image -->
<div class="modal fade" id="moderate_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Причина отклонения</h4>
      </div>
      <div class="modal-body">
        
        <input type="hidden" id="moderate_id">
        {% csrf_token %}
        <div class="form">
          <div class="form-group">
            <textarea class="form-control" id="moderate_message"></textarea>
          </div>
          <div class="form-group">
            <div class="pull-right">
              <button type="button" class="btn btn-default" onclick="moderate_deny();">Отклонить</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
function moderate_deny() {
  var id = $('#moderate_id').val(),
    message = $('#moderate_message').val();
  $('#moderate_modal').modal('hide');
  
  $.ajax({
    url: '{% url 'admin_post_deny' %}',
    method: "POST",
    data: {
      'id': id,
      'message': message,
      'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
    }
  })
  .done(function(data) {
    $('#post-admin-'+id).replaceWith(data);
    reset_admin_actions();
  });
}
function reset_admin_actions() {
  $('[data-toggle="popover"]').popover();
  $('.admin-panel a.refresh').click(function(e){
      e.preventDefault();
      $.ajax({
        url: e.currentTarget.href,
      })
      .done(function( data ) {
        $(e.currentTarget).closest('.admin-panel').replaceWith(data);
        reset_admin_actions();
      });
  })
}
$(document).ready(function(){
    reset_admin_actions();
})
</script>
{% endif %}