{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load widget_tweaks %}

{% block title %}Баллы {{ user.username }}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        <ul class="nav nav-tabs">
          <li>
            <a href="{% url 'user' user.id %}">Профиль</a>
          </li>
          <li>
            <a href="{% url 'user_posts' user.id %}">Посты ({{ profile.count_posts_pub }})</a>
          </li>
          <li class="alert-danger active">
            <a href="{% url 'admin_user_scores' user.id %}">Баллы ({{ profile.scores }})</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">

            <div class="well">
              <div class="title"><h4>Начислить баллы</h4></div>
              <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="form">
                  <div class="form-group">
                    <label class="control-label col-md-3">Комментарий</label>
                    <div class="col-md-7">
                      {{ form.reason|attr:"class:form-control" }}
                      {% if form.reason.errors %}<div class="alert alert-danger">{{ form.reason.errors }}</div>{% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3">Баллы</label>
                    <div class="col-md-7">
                      {{ form.scores|attr:"class:form-control" }}
                     {% if form.scores.errors %}<div class="alert alert-danger">{{ form.scores.errors }}</div>{% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                     <button type="submit" class="btn btn-default">Начислить</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <ul class="nav nav-tabs">
              <li{% if mode == 'basic' %} class="active"{%endif%}>
                <a href="{% url 'admin_user_scores' user.id %}" >Прочее</a>
              </li>
              <li{% if mode == 'likes' %} class="active"{%endif%}>
                <a href="{% url 'admin_user_scores' user.id %}?likes">Лайки</a>
              </li>
            </ul>

            {% include 'blog/profile/scores_table.html' %}

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}