{% comment %}
{% load staticfiles %}
<!-- jQuery library (served from Google) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<!-- bxSlider CSS file -->
<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
<script type="text/javascript">
$(document).ready(function(){
$('.bxslider').bxSlider({
  slideWidth: 810,
  adaptiveHeight: true,
});
});
</script>
<div class="col-md-12">
<ul class="bxslider">
  <!-- <li>
    <a href="http://vk.com/fuel4bull?w=wall-82966548_22" target="_blank">
     <img src="{% static 'img/banner3.png' %}" />
    </a>
  </li> -->
  <li>
    <a href="http://pureprotein.fuel4bull.ru/#cat28">
     <img src="{% static 'img/banner1.png' %}" />
    </a>
  </li>
</ul>
</div>
{% endcomment %}
