{% extends 'main/base.html' %}
{% load humanize %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h2>
	Корзина
	{{ offers|length }}
</h2>

<form method="post">
{% csrf_token %}
<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <th>Название</th>
      <th>Цена</th>
      <th>Количество</th>
      <th>Сумма</th>
      <th>Убрать</th>
    </thead>
    {% for offer in offers %}
    <tr>
      <td>
        <a href="{% url 'product' offer.product.id offer.product.slug %}">
          <img src="{{ offer.product.image }}" style="max-width:100px;max-height:100px;"><br>
          {{ offer.product.name }}
        </a>
        <br>
        <b>{{ offer.name }}</b>
      </td>
      <td>{{ offer.price|intcomma }} <i class="fa fa-rub"></i></td>
      <td>
        <div class="input-group" style="max-width:200px;">
          <input type="number" name="count_{{ offer.id }}" min="0" max="100" step="1" value="{{ offer.count }}" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" name="refresh"><i class="fa fa-refresh"></i></td></button>
          </span>
        </div>
      </td>
      <td>{{ offer.sum|intcomma }} <i class="fa fa-rub"></i></td>
      <td>
        <a class="btn btn-danger" href="{% url 'basket_toggle' offer.id %}">
          <i class="fa fa-remove"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    <tfoot>
      <th colspan="3" style="text-align:right;">Сумма:</th>
      <th colspan="2">{{ total_sum|intcomma }} <i class="fa fa-rub"></i></th>
    </tfoot>
  </table>
</div>

<div class="col-md-4">
{% if form %}
<div class="form-horizontal well col-md-12">
  <h3>Оформить заказ</h3>
  Доставка по Москве - 350 <i class="fa fa-rub"></i><br>
  Доставка почтой России - 300 <i class="fa fa-rub"></i><br>
  Доставка почтой EMS - 800 <i class="fa fa-rub"></i><br>
  <div class="form-group">
    <label>Номер телефона</label>
    <div class="controls">
      <div class="input-group">
        <span class="input-group-addon">+7</span>
        {{ form.phone_number }}
      </div>
      <span class="help-inline">{{ form.phone_number.errors }}</span>
    </div>
  </div>
  
  <div class="form-group">
    <label>Ваше имя (необязательно)</label>
    <div class="controls">
      {{ form.name }}
      <span class="help-inline">{{ form.name.errors }}</span>
    </div>
  </div>

  <div class="form-group">
    <label>Комментарии к заказу (необязательно)</label>
    <div class="controls">
      {{ form.comment }}
      <span class="help-inline">{{ form.comment.errors }}</span>
    </div>
  </div>
  <p><i>Условия доставки у Вас уточнит наш менеджер по телефону <i class="fa fa-smile-o"></i></i></p>
  
  <div class="form-group pull-right">
    <input type="submit" class="btn btn-success" name="order" value="Сделать заказ">
  </div>

</div>

{% endif %}
</div>
</form>
{% endblock %}