{% load mptt_tags %}
{% recursetree categories %}
<li {% if node.children.all|length > 0 %}class="dropdown-submenu"{% endif %}>
  <a href={% url 'category' node.id node.slug %}>{{ node.name }}</a>
  {% if not node.is_leaf_node %}
    <ul class="dropdown-menu">
    {{ children }}
    <li><a href="{% url 'category' node.id node.slug %}other/">Остальные</a></li>
    </ul>
  {% else %}
    {% for c in node.children.all %}
    <li><a href={% url 'category' c.id с.slug %}>{{ c.name }}</a></li>
    {% endfor %}
  {% endif %}
</li>
{% endrecursetree %}