<!-- HEADER -->
{% load staticfiles %}

<nav class="navbar-inverse navbar-default" id="main-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fuel4bull.ru</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a href="{% url 'home' %}">
        <img id="logo-header" src="{% static 'img/logo.png' %}" style="max-width:260px;" alt="">
      </a>

      <div class="hidden-xs" style="position:absolute;top:-110px;left:270px;">
        <b>Все цены  Москвы!</b><br>
        <b>70</b> магазинов; <b>4000</b> товаров<br>
        <!-- 
        <ul style="margin-left:0px">
          <li>около <b>4000</b> товаров</li>
          <li>более <b>70</b> магазинов</li>
          <li>более <b>70 000</b> предложений</li>
          <li>самые низкие цены</li>
        </ul> -->
      </div>
      
      <div class="hidden-xs hidden-sm" style="position:absolute;top:-110px;right:50px;">
        <a href="http://blog.fuel4bull.ru/">
          <img src="{% static 'img/banner-blog.jpg' %}">
        </a>
      </div>
      {% comment %}
      <div class="hidden-xs hidden-sm" style="position:absolute;top:-110px;right:185px;">
        <a href="/brand/134/pureprotein/">
          <img src="{% static 'img/pureprotein.jpg' %}" alt="pureprotein">
        </a><br>
        <span>самые <a href="{% url 'store' %}">низкие цены</a> Москвы на <a href="/brand/134/pureprotein/">Pureprotein</a>!</span><br>
      </div>
      {% endcomment %}
      
      {% comment %}
      {% if not request.user.is_authenticated %}
      <div class="head-block hidden-xs">
        Вход через: <br>
        <a class="social vk" href="{% url 'socialauth_begin' 'vk-oauth' %}"></a>
        {#<a class="social tw" href="{% url 'socialauth_begin' 'twitter' %}"></a> #}
        {#<a class="social fb" href="{% url 'socialauth_begin' 'fb-oauth' %}"></a> #}
        {#<a class="social ok" href="{% url 'socialauth_begin' 'odnoklassniki-oauth' %}"></a> #}
        {#<a class="social gp" href="{% url 'socialauth_begin' 'vk-oauth' %}"></a> #}
        {#<a class="social ml" href="{% url 'socialauth_begin' 'mailru-oauth' %}"></a> #}
        {#<a class="social yn" href="{% url 'socialauth_begin' 'yandex-oauth' %}"></a> #}
      </div>
      {% endif %}
      {% endcomment %}
      
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'home' %}">
            <span class="visible-sm"><i class="fa fa-home"></i></span>
            <span class="hidden-sm">Главная</span>
          </a>
        </li>

        {% comment %}
        <li>
          <a href="{% url 'store' %}">Магазин</a>
        </li>
        <li>
          <a href="{% url 'store_delivery' %}">Доставка</a>
        </li>
        {% endcomment %}
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Каталог <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% load my_tags %}
            {% category_menu %}
          </ul>
        </li>
        
        {#<li><a href="{% url 'shop_list' %}">Магазины</a></li>#}
        
        {% comment %}
        <li>
          <a href="{% url 'shopping_list' %}" title="список покупок">
            <i class="fa fa-list-ul"></i>
            <span class="hidden-sm">список покупок</span> 
            <span id="shopping_list_count">{{ request.session.shopping_list|length }}</span>
          </a>
        </li>
        {% endcomment %}

        {% comment %}
        <li>
          <a href="{% url 'basket' %}" title="корзина">
            <i class="fa fa-shopping-cart"></i>
            <span class="hidden-sm">корзина</span> 
            <span class="basket_count">{{ request.session.basket|length }}</span>
          </a>
        </li>
        {% endcomment %}
        
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-user"></i>
            <span class="hidden-sm">{{ request.user.username }}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'logout' %}">выйти</a>
            </li>
          </ul>
        </li>
        {% endif %}
      </ul>  
      <form class="navbar-form navbar-left" role="search" action="/search/">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Искать..">
        </div>
      </form>
    </div>
  </div>
</nav>