{% extends "main/base.html" %}
{% load mptt_tags %}
{% load staticfiles %}

{% block description %}Fuel4Bull каталог самых низких цен на спортивное питание москва выбор сравнение скидки{% endblock %}

{% block keywords %}{{ category.name }}Fuel4Bull интернет магазин протеины гейнеры купить каталог скидка низкая цена сравнение цен выбрать москва{% endblock %}

{% block title %}Fuel4Bull.ru каталог низких цен на спортпит в Москве{% endblock %}

{% block scripts %}
<link href="{% static 'css/sidebar-nav.css' %}" rel="stylesheet">
<script src="{% static 'js/nav.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-3 col-sm-4">
<nav>
  <ul id="nav">
    
    {% recursetree categories %}
    <li {% if node.children.all|length > 0 %}class="has_sub"{% endif %}>
      <a href={% url 'category' node.id node.slug %}>{{ node.name }}</a>
      {% if not node.is_leaf_node %}
        <ul>
        {{ children }}
        <li><a href="{% url 'category' node.id node.slug %}other/">Остальные</a></li>
        </ul>
      {% else %}
        <ul>
        {% for c in node.children.all %}
          <li><a href={% url 'category' c.id с.slug %}>{{ c.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endrecursetree %}

  </ul>
</nav>
</div>

<div class="col-md-9 col-sm-8">

  {% include 'main/banner.html' %}
  
  {% if offer_products %}
    <div class="col-md-12">
    <h3>Самые низкие цены на Pureprotein в Москве</h3>
    <p>Зайдите и сами убедитесь что наши цены самые низкие!!!</p>
    {% for product in offer_products %}
      {% include 'main/product/block.html' %}
    {% endfor %}
    </div>
  {% endif %}

  {% if products %}
    <div class="col-md-12">
    <h3>Лучшие предложения</h3>
    {% for product in products %}
      {% include 'main/product/block.html' %}
    {% endfor %}
    </div>
  {% endif %}

</div>
</div>

{% endblock %}