{% if list.paginator.num_pages > 1 %}
<ul class="pagination pagination-centered">
    {% if list.has_previous %}
        <li><a href="?{{queries.urlencode}}&amp;page=1"><<</a></li>
        <li><a href="?{{queries.urlencode}}&amp;page={{ list.previous_page_number }}"><</a></li>
    {% endif %}

    {% for i in list.paginator.page_range %}
    {% if i <= list.number|add:'+3' and i >= list.number|add:'-3' %}
        <li {% if list.number == i %} class="active" {% endif %}>
            <a href="?{{queries.urlencode}}&amp;page={{ i }}">{{i}}</a>
        </li>
    {% endif %}
    {% endfor %}

    {% if list.has_next %}
        <li><a href="?{{queries.urlencode}}&amp;page={{ list.next_page_number }}">></a></li>
        <li><a href="?{{queries.urlencode}}&amp;page={{ list.paginator.num_pages }}">>></a></li>
    {% endif %}
</ul>
{% endif %}