<div class="rating clearfix {% if large %}large{% endif %}">
  {% if rating < 0.5 %}
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 0.5 and rating < 1 %}
  <span class="bull-color-half"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  
  {% elif rating >= 1 and rating < 1.5 %}
  <span class="bull-color"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 1.5 and rating < 2 %}
  <span class="bull-color"></span>
  <span class="bull-color-half"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 2 and rating < 2.5 %}
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 2.5 and rating < 3 %}
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color-half"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 3 and rating < 3.5 %}
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-grey"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 3.5 and rating < 4 %}
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color-half"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 4 and rating < 4.5 %}
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-grey"></span>

  {% elif rating >= 4.5 and rating < 5 %}
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color-half"></span>

  {% elif rating >= 5 %}
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>
  <span class="bull-color"></span>

  {% endif%}
</div>