{% extends "main/base.html" %}
{% load my_filters %}
{% load staticfiles %}

{% block title %}Поиск '{{ request.GET.q }}'{% endblock %}

{% block scripts %}
<script src="{% static 'js/shopping_list.js' %}"></script>
{% endblock %}

{% block content %}
<form action="" method="get">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Поиск..." value="{{ request.GET.q }}">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Искать!</button>
    </span>
  </div><!-- /input-group -->
</form>

<h3>Результаты поиска</h3>
<div class="col-md-8 col-sm-12 col-xs-12">
{% for product in products %}
  {% include 'main/product/preview.html' %}
{% endfor %}

{% for item in items %}
  {% include 'main/product/item.html' %}
{% endfor %}
</div>

{% endblock %}