{% extends "main/base.html" %}
{% load humanize %}

{% block title %}Список покупок{% endblock %}

{% block content %}
<h2>
  Список покупок 
  {% if request.session.shopping_list|length %}<a href="{% url 'shopping_list_clear' %}" class="btn btn-danger">Очистить</a>{% endif %}
</h2>

{% if request.session.shopping_list|length %}
<table class="table">
<tr>
  <td>&nbsp;</td>
  {% for product in products %}
    <td>
      <div>
        <img src="{{ product.image }}" style="max-width:100px;max-height:100px;"><br>
        <a href="{% url 'product' product.id product.slug %}">{{ product.name }}</a>
        <b>{{ product.packing }}</b>
        {% include 'main/rating.html' with rating=product.rating %}
      </div>
      <a href="{% url 'shopping_list_toggle' product.id %}">убрать</a>
    </td>
  {% endfor %}
</tr>
{% for shop,items,total in shop_prices %}
  <tr>
    <td>
      <a href="{% url 'shop' shop.id shop.slug %}">{{ shop.name }}</a>
      <span class="hidden-xs">
        <i class="fa fa-comment-o"></i>
        <a href="{% url 'shop_reviews' shop.id shop.slug %}">{{ shop.review_count }}</a>
      </span><br>
      {% include 'main/rating.html' with rating=shop.rating %}
      {{ total|intcomma }} <i class="fa fa-rub">
    </td>
    
    {% for item in items %}
      <td>
      {% if item %}
        <a href="{% url 'product_item_jump' item.id %}" target="_blank">{{ item.price|intcomma }} <i class="fa fa-rub"></i></a><br>
        
        {% if item.available == True %}
        <i class="fa fa-check"></i> в наличии
        {% elif item.available == None %}
        <i class="fa fa-question"></i> неизвестно
        {% else %}
        <i class="fa fa-minus"></i> отсутствует
        {% endif %}

      {% else %}
        <i>нет предложений</i>
      {% endif %}
      </td>
    {% endfor %}
  
  </tr>
{% endfor %}
</table>
<div class="col-md-12">
  {% include 'main/pagination.html' with list=shop_prices %}
</div>
{% else %}
</i>Список покупок пуст</i>
{% endif %}


{% endblock %}