<div class="btn-group pull-right order" role="group" aria-label="...">
  {% for name,_,desc in sort_fields %}
  <button type="submit" class="btn btn-default {% if name in sort %}active{% endif %}" 
    name="sort" value="{% if sort = name %}-{{ name }}{% else %}{{ name }}{% endif %}">
    {{ desc }}
    {% if sort = name %}<i class="glyphicon glyphicon-sort-by-attributes"></i>
    {% elif sort = '-'|add:name %}<i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
    {% endif %}
  </button>
  {% endfor %}
</div>