{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load staticfiles %}

{% block title %}Задать вопрос{% endblock %}

{% block scripts %}
<!-- intro -->
{% if request.user.is_authenticated %}
{% user_profile request.user %}
<script src="{% static 'bt/js/question-tour.js' %}"></script>
<script type="text/javascript">
function startTour() {
    tour.restart()
}
introFunc('{{ profile.looked_intro_qa }}');
</script>
{% include 'blog/profile/modal_tour.html' with text='Хотите узнать - как получать баллы в разделе "Вопросы и ответы"?' %}
{% endif %}
<!-- intro -->
{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Задать вопрос тему</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        {% load widget_tweaks %}
        <!-- Form Comment -->
        <div class="respond well">
        <!-- Form title -->
         <div class="title"><h4>Задать вопрос</h4></div>
         <!-- Comment form -->
         <div class="form">
           <form class="form-horizontal" method="post">
             {% csrf_token %}
             <div class="form-group" id="title_group">
               <label class="control-label col-md-3">Заголовок</label>
               <div class="col-md-6">
                {{ form.title|attr:"class:form-control"|attr:"autocomplete:off"|attr:"minlength:5"|attr:"data-role:counter" }}
                <p class="help-block">{{ form.title.errors }}</p>
               </div>
             </div>
             <div class="form-group" id="content_group">
               <label class="control-label col-md-3">Вопрос</label>
               <div class="col-md-6">
                {{ form.content|attr:"class:form-control"|attr:"minlength:20"|attr:"data-role:counter" }}
                <p class="help-block">{{ form.content.errors }}</p>
               </div>
             </div>
             <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
               <button type="submit" class="btn btn-default" id="save_button">Спросить</button>
               <button type="reset" class="btn btn-default">Сбросить</button>
              </div>
             </div>
           </form>
         </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}