{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Интересные вопросы{% endblock %}

{% block content %}
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Интересные вопросы</h2>
      </div>
    </div>
  </div>
</div>

<div class="content blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        {% if request.user.is_authenticated %}
          <div class="pull-right">
            <a class="btn btn-success" href="{% url 'qa_create' %}">Задать вопрос</a>
          </div>
        {% endif %}

        <ul class="nav nav-tabs">
          <li{% if without_answer == False %} class="active"{%endif%}>
            <a href="{% url 'qa_list' %}" >Новые</a>
          </li>
          <li{% if without_answer == True %} class="active"{%endif%}>
            <a href="{% url 'qa_list_without_answer' %}">Без ответа</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">
          
          {% include 'qa/question_list.html' with questions=questions %}
          {% include 'blog/pagination.html' with list=questions %}

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}