{% load blog_tags %}
{% for question in questions %}
<div class="entry">
  
  <h2><a href="{% url 'qa_question' question.id question.slug %}">{{ question.title }}</a></h2>
  
  <div class="meta clearfix">
    <i class="fa fa-user"></i> <a href="{% url 'user' question.user.id %}">{{ question.user.username }}</a>
    <i class="fa fa-calendar"></i> {{ question.created_at|my_naturaltime }}
    <i class="fa fa-eye"></i> {{ question.view_count }}        
  
    {% if question.correct_answer %}
    <span style="color:#65c178;text-align:center" class="pull-right">
      <i class="fa fa-check"></i> {{ question.answer_count }}
      ответов
    </span>
    {% else %}
    <span class="pull-right" style="text-align:center">
      {{ question.answer_count }}
      ответов
    </span>
    {% endif %}

  </div>

</div>
{% endfor %}