{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}{{ question.title }}{% endblock %}

{% block scripts %}
<script type="text/javascript">
function subscribe(obj) {
  if ($(obj).hasClass('btn-success')) {
    f = 1;
    url = "{% url 'qa_subscribe' question.id %}";
  } 
  else {
    f = 0;
    url = "{% url 'qa_unsubscribe' question.id %}";
  }

  $.ajax({
    url: url,
    csrfmiddlewaretoken: "{{ csrf_token }}",
  })
  .done(function( data ) {
    data = $.parseJSON(data);
    console.log(data);
    if (data.status == 'success') {
      $('#subs_count').html(data.count);
      if (f) {
        $(obj).find('span.lbl').text('Отписаться');
        $(obj).removeClass('btn-success').addClass('btn-danger');
      }
      else {
        $(obj).find('span.lbl').text('Подписаться');
        $(obj).removeClass('btn-danger').addClass('btn-success');
     }
    } else {
      $(obj).replaceWith(data.message);
    }
  });
}  
</script>

<style>
.comment-author .answer {
visibility:hidden;
}
.comment:hover .answer {
visibility:visible;
}
</style>
{% endblock %}

{% block content %}
<div class="content blog">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        {% breadcrumbs_block %}
        <div class="panel panel-default">
          <div class="panel-heading">
           <h1 class="panel-title">{{ question.title }}</h1>
          </div>
          <div>
            <div class="panel-body">
              <span>
                <i class="fa fa-user"></i> <a href="{% url 'user' question.user.id %}">{{ question.user.username }}</a>
                <i class="fa fa-calendar"></i> {{ question.created_at|my_naturaltime }}
                <i class="fa fa-eye"></i> {{ question.view_count }}
              </span>
              <p class="break-word">
              {% autoescape off %}
              {{ question.content }}
              {% endautoescape %}
              </p>
              <div>
                {% if has_subs == True %}
                <button class="btn btn-danger" onclick="subscribe(this);"><span class="lbl">Отписаться</span> | <span id="subs_count">{{ question.subs_count }}</span></button>
                {% elif has_subs == False %}
                <button class="btn btn-success" onclick="subscribe(this);"><span class="lbl">Подписаться</span> | <span id="subs_count">{{ question.subs_count }}</span></button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="comments well">
          <div class="title"><h4>Ответы на вопрос ({{ answers.paginator.count }})</h4></div>
          <ul class="comment-list">
            {% for answer in answers %}
            <li class="comment">
              <a name="{{ answer.id }}"></a>
              {% user_profile answer.user %}
              <a class="pull-left" href="{% url 'user' answer.user.id %}">
                <!-- Avatar -->
                {% thumbnail profile.avatar_image "60x60" crop="center" as im %}
                    <img class="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              </a>
              
              <!-- Author -->
              <div class="comment-author">
                <a href="{% url 'user' answer.user.id %}">{{ answer.user.username }}</a>
                {% if select_correct_answer %}
                {% csrf_token %}
                <span class="answer"> 
                  <a style="color:#65c178" href="{% url 'qa_select_answer' question.id answer.id %}">
                    <i class="fa fa-check"></i> лучший ответ
                  </a>
                </span>
                {% elif answer.is_correct %}
                <span style="color:#65c178" href="{% url 'qa_select_answer' question.id answer.id %}">
                  <i class="fa fa-check"></i> лучший ответ
                </span>
                {% endif %}
              </div>

              <!-- Comment date -->
              <div class="cmeta">
                <a href="#{{ answer.id }}">#{{ answer.id }}</a>
                {{ answer.created_at|my_naturaltime }}
              </div>

              <!-- Para -->
              <div class="clearfix"></div>
              {% autoescape off %}
              <div class="comment-content break-word">{{ answer.content }}</div>
              {% endautoescape %}
            </li>
            {% endfor %}
          </ul>
          {% include 'blog/pagination.html' with list=answers %}
        </div>
      </div>

      {% if form %}
      <div class="col-md-12">
        {% load widget_tweaks %}
        <!-- Form Comment -->
        <div class="respond well">
        <!-- Form title -->
         <div class="title"><h4>Ответьте на вопрос</h4></div>
         <!-- Comment form -->
         <div class="form">
           <form class="form-horizontal" method="post">
              {% csrf_token %}
               <div class="form-group">
                 <label class="control-label col-md-3">Ответ</label>
                 <div class="col-md-9">
                  {{ form.content }}
                  {% if form.content.errors %}
                    <div class="alert alert-danger">{{ form.content.errors }}</div>
                  {% endif %}
                 </div>
               </div>
               <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                 <button type="submit" class="btn btn-default">Ответить</button>
                 <button type="reset" class="btn btn-default">Сбросить</button>
                </div>
               </div>
           </form>
         </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}