{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block description %}{{ category.name }} купить каталог скидка низкая цена сравнение цен выбрать{% endblock %}

{% block keywords %}{{ category.name }} купить каталог скидка низкая цена сравнение цен выбрать{% endblock %}

{% block title %}Выбрать {{ category.name }} в Москве по низкой цене{% endblock %}

{% block scripts %}
<script src="{% static 'js/stay-on-top.js' %}"></script>
<script src="{% static 'js/shopping_list.js' %}"></script>
{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
  var sl = $('.slider').slider({
    tooltip: 'always'
  });
  $('.select2').select2({
    'placeholder': 'Все бренды'
  });

  $("#filter_form").submit(function(event) {
    $('.filter-labels input[type=checkbox]').each(function(ind,obj){
      if (!$(this).prop("checked")) {
        $('input[name='+$(this).attr('data-name')+']').attr("disabled", "disabled");
      }
    });
    return;
  });
});
</script>

<form id="filter_form" method="get" action="{{ request.GET.path }}?{{ request.GET.urlencode }}/" class="form-horizontal col-md-12">
  <div id="filter" class="col-md-4 col-sm-12 clearfix well stay-on-top">
    <h2>{{ category.name }}</h2>
    
    <!-- NAME -->
    <div class="form-group" id="filter-brands">
      <div class="filter-brands-label pull-left">
        <label>Название</label>
      </div>
      <input type="text" name="name" class="form-control" value="{{ request.GET.name }}" placeholder="Все названия">
    </div>

    <!-- BRANDS -->
    <div class="form-group" id="filter-brands">
      <div class="filter-brands-label pull-left">
        <label>Бренды</label>
      </div>
      {{ form.brands }}
    </div>

    <!-- LABELS -->
    <div class="form-group pull-left clearfix filter-labels">     
      {% for name,pack in packs.iteritems %}
      <label class="block">
        <input type="checkbox" data-name="{{ name }}" {% if pack.enable %}checked="checked"{% endif %}>{{ pack.label }}
      </label>
      {% endfor %}
    </div>
    
    <!-- SLIDERS -->
    <div class="form-group packing-var">
      {% for name,pack in packs.iteritems %}
      <div>
        <input type="text" class="slider form-control" name="{{ name }}" 
        data-slider-min="{{ pack.min }}" data-slider-max="{{ pack.max }}" 
        data-slider-value="{{ pack.value }}" data="value: '{{ pack.min }},{{ pack.max }}'" 
        value="{{ pack.min }},{{ pack.max }}"
        {% if not pack.enable %}disabled="disabled"{% endif %}>
      </div>
      {% endfor %}
    </div>
    
    <!-- CONTROL BUTTONS -->
    <div class="form-group pull-right">
      <div class="col-md-12 nopadding">
        Найдено <strong>{{ products.paginator.count }}</strong>&nbsp;&nbsp;&nbsp;
        <button type="submit" name="filter" class="btn btn-default">Показать</button>
      </div>
    </div>
  </div>

  <!-- PRODUCT LIST -->
  <div id="product-list" class="col-md-8 col-sm-12">

    {% if other_offer_products %}
      <h3>Самые низкие цены на Pureprotein в Москве</h3>
      {% for product in other_offer_products %}
        {% include 'main/product/block.html' %}
      {% endfor %}
    {% endif %}

    <h3>{{ category.name }}</h3>
    <!-- SORT BUTTONS -->
    <div class="col-xs-12 sort-buttons clearfix">
      {% include 'main/sort_buttons.html' %}
    </div>
  
  
  {% for product in offer_products %}
    {% include 'main/product/preview.html' %}
  {% endfor %}

  {% for product in products %}
    {% include 'main/product/preview.html' %}
  {% endfor %}

</div>

<div class="col-md-8 col-sm-12 pull-right" style="text-align:center;">
  {% include 'main/pagination.html' with list=products %}
</div>
</form>

{% endblock %}