{% extends "main/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block description %}{{ category.name }} каталог скидка низкая цена сравнение цен выбрать{% endblock %}

{% block keywords %}{{ category.name }} каталог скидка низкая цена сравнение цен выбрать{% endblock %}

{% block title %}Выбрать {{ category.name }} в Москве по низкой цене{% endblock %}

{% block content %}
<h1>{{ category.name }}</h1>
<ul>
{% for c in categories %}
  <li><a href="{% url 'category' c.id c.slug %}">{{ c.name }}</a></li>
{% endfor %}
  <li><a href="{% url 'category' category.id category.slug %}other/">Остальные</a></li>
</ul>

{% endblock %}