{% extends "password_reset/base.html" %}
{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="well">
          <div class="title"><h4>{% trans "Password recovery" %}</h4></div>

          <div class="form">
          	<form class="form-horizontal" method="post" action="{{ url }}">
          		{% csrf_token %}
              <div class="form-group">
                 <label class="control-label col-md-3">{{ form.username_or_email.label }}</label>
                 <div class="col-md-6">
                  {{ form.username_or_email|attr:"class:form-control" }}
                  {% if form.username_or_email.errors %}<div class="alert alert-danger">{{ form.username_or_email.errors }}</div>{% endif %}
                 </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                 <button type="submit" class="btn btn-default">{% trans "Recover my password" %}</button>
                </div>
              </div>

          	</form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
