{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
