{% extends "password_reset/base.html" %}
{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% if invalid %}{% url "password_reset_recover" as recovery_url %}
          <p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
        {% else %}

          <div class="well">
            <p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
            <div class="form">
              <form method="post" class="form-horizontal" action="{% url "password_reset_reset" token %}">
              {% csrf_token %}
              
                <div class="form-group">
                   <label class="control-label col-md-3">{{ form.password1.label }}</label>
                   <div class="col-md-6">
                    {{ form.password1|attr:"class:form-control" }}
                    {% if form.password1.errors %}<div class="alert alert-danger">{{ form.password1.errors }}</div>{% endif %}
                   </div>
                </div>

                <div class="form-group">
                   <label class="control-label col-md-3">{{ form.password2.label }}</label>
                   <div class="col-md-6">
                    {{ form.password2|attr:"class:form-control" }}
                    {% if form.password2.errors %}<div class="alert alert-danger">{{ form.password2.errors }}</div>{% endif %}
                   </div>
                </div>
                
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                   <button type="submit" class="btn btn-default">{% trans "Set new password" %}</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
