ul#countdown {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
ul#countdown li {
  display: inline-block;
}
ul#countdown li span {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  color: #DA2C2B;
}
ul#countdown li p {
  color: #AE2A2B;
  font-size: 15px;
}
ul#countdown li.seperator {
  font-size: 30px;
  line-height: 27px;
  vertical-align: top;
}