/* Red Color */

a, a:visited{
	color: #AE2A2B;
}

a:hover{
	color: #DA2C2B;
}

.color{
	color: #DA2C2B;
}

.button a, .button a:visited{
background:#DA2C2B;
}

.button a:hover{
background:#AE2A2B;
}

/* Header */

header .hlinks > span{
background: #DA2C2B;
border: 1px solid #AE2A2B;
}

/* Navigation */

.navbar{
	background:#DA2C2B;
	border-top: 1px solid #AE2A2B;
	border-bottom: 1px solid #AE2A2B;
}

.navbar button{
	background: #AE2A2B;
}

.navbar button:hover{
	background: #AE2A2B;
}

.navbar .nav{
  border-left: 1px solid #AE2A2B;	
}

.navbar .nav > li > a{
   border-right: 1px solid #AE2A2B;
}
.navbar .nav > li > a:hover{
	background: #AE2A2B !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
	background: #AE2A2B !important;
}

.dropdown-toggle{
	background: #DA2C2B !important;	
}

.nav-collapse .nav > li > a{
	background: #DA2C2B !important;	
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color: #AE2A2B;
}

/* Sidebar nav */

#nav > li > a { 
 border-left: 3px solid #DA2C2B;
}

/* Sidebar page navigation */

#navi > li > a { 
 border-left: 3px solid #DA2C2B;
}


/* Title */

.title i{
	color: #DA2C2B;
}


/* Recent posts carousel */

.recent-news .item h4 a span{
	color:#DA2C2B;
}

.recent-news .custom-nav a i{
	background: #DA2C2B;
}


/* Blog */

.posts .tags a{
background:#DA2C2B;
border:1px solid #AE2A2B;
}

.posts .tags a:hover{
background:#AE2A2B;
border:1px solid #AE2A2B;
}

.paging a:hover{
background: #DA2C2B;
border:1px solid #AE2A2B;
}

.paging .current{
background: #DA2C2B;
border:1px solid #AE2A2B;
}

/* Sidebar */

.sidebar .widget{
	border-top: 1px solid #DA2C2B;
}


/* Career */

.nav-tabs > li > a:hover{
	background: #DA2C2B;
}


/* Back to top */

.totop a, .totop a:visited{
	background: #DA2C2B;
}

.totop a:hover{
	background: #AE2A2B;
}

/* Footer */

footer{
	border-top: 4px solid #DA2C2B;
}