{% extends "main/base.html" %}

{% block description %}Производитель спортивного питания {{ brand.name }}{% endblock %}
{% block keywords %}Производитель спортивного питания {{ brand.name }} купить в москве цены скидки{% endblock %}
{% block title %}Производитель спортивного питания {{ brand.name }}{% endblock %}

{% block content %}
<style>
.cat {margin-top: 2px;}
</style>

<div class="12">

  <h3>{{ brand.name }}</h3>
  
  {% if brand.image %}
  <img src="{{ brand.image }}" style="max-height:200px;width:100%;max-width:200px;">
  {% endif %}
  
  {% if brand.site %}<a href="{{ brand.site }}" target="_blank">{{ brand.site }}</a>{% endif %}

  {% if brand.description %}
  {% autoescape off %}
  <pre>{{ brand.description }}</pre>
  {% endautoescape %}
  {% endif %}

  <div class="col-md-12">
    <div class="col-md-12">
    {% for c in categories %}
    <a class="btn btn-default cat btn-xs" href="{{ c.url }}?brands={{ brand.id }}">{{ c.name }}</a>
    {% endfor %}
    </div>
  
    {% if products %}
    <h3>Лучшие предложения</h3>
    {% for product in products %}
	  {% include 'main/product/block.html' with brand=0 %}
	  {% endfor %}
    {% endif %}

  </div>

</div>
{% endblock %}