{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="Description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/basket.js' %}"></script>

    {% block scripts %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
  {% include 'main/store/one_click_form.html' %}
  {% include "pureprotein/header.html" %}
  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      
      {% if breadcrumbs %}
      <!-- BREADCRUMBS -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        {% for name,url in breadcrumbs %}
          {% if url %}
          <li><a href="{{ url }}">{{ name }}</a></li>
          {% else %}
          <li class="active">{{ name }}</li>
          {% endif %}
        {% endfor %}
      </ol>
      {% endif %}

      {% block content %}
      {% endblock %}
      
    </div>
  </div>
  {% include "pureprotein/footer.html" %}
</body>

</html>
