{% extends 'pureprotein/base.html' %}
{% load humanize %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h2>Спасибо за заказ!</h2>
<p>Ваш заказ #{{ order_id }} на сумму {{ total_sum|intcomma }} <i class="fa fa-rub"></i> оформлен. Ждите звонка менеджера!</p>
{% endblock %}