{% extends "pureprotein/base.html" %}

{% block description %}Pureprotein самые низкие цены Москвы fuel4bull.ru{% endblock %}
{% block keywords %}Pureprotein самые низкие цены Москвы fuel4bull.ru{% endblock %}
{% block title %}Доставка{% endblock %}

{% block content %}

<div class="col-sm-12">

<h2>Информация о доставке</h2>
<br>
Мы доставляем товар несколькими способами:<br>
 <br>
Самовывоз ст. м. Римская - оплата при встрече по факту получения товара.<br>
Доставка почтой России - 300р высылается на следующий день после оплаты.<br>
Доставка почтой EMS - 800р высылается на следующий день после оплаты.<br>
Курьерская доставка по Москве - 350р.<br>
    
    {% if products %}
    <h3>Лучшие предложения</h3>
    {% for product in products %}
      {% include 'pureprotein/product/block.html' with product=product %}
      {% endfor %}
    {% endif %}

</div>
{% endblock %}