<!-- HEADER -->
{% load staticfiles %}

<nav class="navbar-inverse navbar-default" id="main-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fuel4bull.ru</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a href="{% url 'home' %}">
        <img id="logo-header" src="{% static 'img/logo.png' %}" style="max-width:260px;" alt="">
      </a>

      <div class="hidden-xs" style="position:absolute;top:-110px;left:270px;">
        <span style="font-weight:bold;font-size:20px;">
        <i class="fa fa-phone"></i> <a href="tel:89647038657">+7(964) 703-86-57</a><br>
        <i class="fa fa-phone"></i> <a href="tel:89854903564">+7(985) 490-35-64</a><br>
        </span>
      </div>
      
      <div class="hidden-xs hidden-sm" style="position:absolute;top:-110px;right:185px;">
        <img src="{% static 'img/pureprotein.jpg' %}" alt="pureprotein"><br>
        <span>самые низкие цены Москвы на Pureprotein!</span><br>
      </div>
      
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'home' %}">
            <span class="visible-sm"><i class="fa fa-home"></i></span>
            <span class="hidden-sm">Главная</span>
          </a>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Каталог <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% load my_tags2 %}
            {% catalog_menu %}
          </ul>
        </li>

        <li>
          <a href="{% url 'delivery' %}">
            <i class="fa fa-truck"></i>&nbsp;Доставка 
          </a>
        </li>
        <li>
          <a href="{% url 'opt' %}">
            <i class="fa fa-dollar"></i>&nbsp;Для оптовиков&nbsp;<i class="fa fa-dollar"></i>
          </a>
        </li>
        <li>
          <a href="{% url 'basket' %}" title="корзина">
            <i class="fa fa-shopping-cart"></i>
            <span class="hidden-sm">корзина</span> 
            <span class="basket_count">{{ request.session.basket|length }}</span>
          </a>
        </li>
      </ul>  
      <form class="navbar-form navbar-left" role="search" action="/search/">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Искать..">
        </div>
      </form>
    </div>
  </div>
</nav>