{% extends "pureprotein/base.html" %}
{% load staticfiles %}

{% block description %}PureProtein Fuel4Bull самые низкие цены Москвы{% endblock %}

{% block keywords %}PureProtein Fuel4Bull самые низкие цены Москвы{% endblock %}

{% block title %}PureProtein Fuel4Bull самые низкие цены Москвы{% endblock %}

{% block scripts %}
<link href="{% static 'css/sidebar-nav.css' %}" rel="stylesheet">
<script src="{% static 'js/nav.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-3 col-sm-4">
<nav>
  <ul id="nav">
    {% for group in groups %}
    <li>
      <a href="#cat{{ group.category.id }}">{{ group.category.name }}</a>
    </li>
    {% endfor %}
    
  </ul>
</nav>
</div>

<div class="col-md-9 col-sm-8">

{#{% include 'main/banner.html' %}#}

<h3>Самые низкие цены на Pureprotein в Москве</h3>
{% for group in groups %}
  <div class="col-md-12">
  <a name="cat{{ group.category.id }}"></a>
  <h3>{{ group.category.name }}</h3>
  {% for product in group.products %}
    {% include 'pureprotein/product/block.html' %}
  {% endfor %}
  </div>
{% endfor %}
</div>
</div>
{% endblock %}