{% extends "pureprotein/base.html" %}

{% block description %}Pureprotein самые низкие цены Москвы fuel4bull.ru для оптовиков{% endblock %}
{% block keywords %}Pureprotein самые низкие цены Москвы fuel4bull.ru для оптовиков{% endblock %}
{% block title %}Для оптовиков{% endblock %}

{% block content %}

<div class="col-sm-12">

<h2>Для оптовиков</h2>
<br>
Для тех кто хочет приобрести продукцию pureprotein оптом мы предлагаем отличные цены. <br>
Чтобы получить оптовые прайсы обращайтесь по контактам ниже:<br>
<ul>
<li><i class="fa fa-envelope"></i>&nbsp;<a href="email:fuel4bull@gmail.com">fuel4bull@gmail.com</a></li>
<li><i class="fa fa-vk"></i>&nbsp;<a href="http://vk.com/fuel4bull_ru">Вконтакте</a></li>
</ul>
    
    {% if products %}
    <h3>Лучшие предложения</h3>
    {% for product in products %}
      {% include 'pureprotein/product/block.html' with product=product %}
      {% endfor %}
    {% endif %}

</div>
{% endblock %}