{% extends 'admin:admin/base_site.html' %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
    {{ form }}
    
    <ul>
    {% for b in brands %}
    	<li>123</li>
    	<li>{{ b.name }}</li>
    {% endfor %}
    </ul>
    <input type="hidden" name="action" value="merge_brands" />
    <input type="submit" name="apply" value="Сохранить" />
</form>
{% endblock %}